[widget] {
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    i{
        font-size: 26px;
    }
}

.text-box {
    .text {
        font-size: 14px;
        white-space: nowrap;
    }
}