<div widget [ngStyle]="{'color': color}">
  @if (lstyle==0 || lstyle==1 || lstyle==5) {
  <div class="textbox">
    @if (ico!='') {
    <i class="{{ico}}"></i>
    }
    <div class="title" overflow [ngStyle]="{'font-size': size+'px'}">
      {{t0}}
    </div>
  </div>
  } @if (lstyle==2) {
  <div class="textbox2">
    @if (ico!='') {
    <i class="{{ico}}"></i>
    }
    <div class="contentbox">
      <div class="title" overflow [ngStyle]="{'font-size': size+'px'}">
        {{t0}}
      </div>
      <div class="content" overflow>{{t1}}</div>
    </div>
  </div>
  } @if (lstyle==3 || lstyle==6) {
  <div class="textbox3">
    @if (ico!='') {
    <i class="{{ico}}"></i>
    }
    <div class="contentbox">
      <div class="title" overflow [ngStyle]="{'font-size': size+'px'}">
        {{t0}}
      </div>
      <div class="content" overflow>{{t1}}</div>
    </div>
  </div>
  } @if (lstyle==4) {
  <div class="textbox4">
    @if (ico!='') {
    <i class="{{ico}}"></i>
    }
  </div>
  }
</div>
