<div widget [ngStyle]="{'color': color}">
  <div class="textbox" *ngIf="lstyle==0 || lstyle==1 || lstyle==5">
    <i *ngIf="ico!=''" class="{{ico}}"></i>
    <div class="title" overflow [ngStyle]="{'font-size': size+'px'}">{{t0}}</div>
  </div>
  <div class="textbox2" *ngIf="lstyle==2">
    <i *ngIf="ico!=''" class="{{ico}}"></i>
    <div class="contentbox">
      <div class="title" overflow [ngStyle]="{'font-size': size+'px'}">{{t0}}</div>
      <div class="content" overflow>{{t1}}</div>
    </div>
  </div>
  <div class="textbox3" *ngIf="lstyle==3 || lstyle==6">
    <i *ngIf="ico!=''" class="{{ico}}"></i>
    <div class="contentbox">
      <div class="title" overflow [ngStyle]="{'font-size': size+'px'}">{{t0}}</div>
      <div class="content" overflow>{{t1}}</div>
    </div>
  </div>
  <div class="textbox4" *ngIf="lstyle==4">
    <i *ngIf="ico!=''" class="{{ico}}"></i>
  </div>
</div>