<div class="layouter-box" [ngClass]="{'scale': isScale}" overlayPadding #LayouterBox>
  <div device-bg [ngStyle]="backgroundCss">
  </div>
  <div device-header>
  </div>
  <div device-box #gridsterBox>
    <gridster [options]="options">
      <ng-container *ngFor="let widget of dashboard">
        <gridster-item [item]="widget" [ngClass]="{
          'selected':widget==selectedWidget,
          'editMode':mode==1,
          'ct':mode==0&&(widget.type=='ico' || widget.type=='tex')
        }">
          <widget-dynamic [widget]="widget" [device]="device"></widget-dynamic>
        </gridster-item>
      </ng-container>
    </gridster>
  </div>
  <div device-footer>
  </div>
</div>
<div class="layouter-bar" *ngIf="mode==1">
  <widget-listbar *ngIf="!selectedWidget"></widget-listbar>
  <widget-toolbar *ngIf="selectedWidget" [widget]="selectedWidget" [device]="device"></widget-toolbar>
</div>