<ng-template #headerActions>
  @if (canEditLayout) {
  @if (mode != '1') {
  <ion-button class="layouter-action" (click)="unlock()">
    <i class="fa-light fa-pen-to-square"></i>
  </ion-button>
  } @else {
  <ion-button class="layouter-action" (click)="cleanWidgets()">
    <i class="fa-light fa-trash-can"></i>
  </ion-button>
  <ion-button class="layouter-action" (click)="lock()">
    <i class="fa-light fa-lock"></i>
  </ion-button>
  }
  }
</ng-template>
<div device-box #gridsterBox [class.is-editing]="mode=='1'">
  <gridster [options]="options">
    @for (widget of dashboard; track widget) {
    <gridster-item
      [item]="widget"
      [ngClass]="{'default':widget['bg']==0,'translucent':widget['bg']==1,'transparent':widget['bg']==2,'round':widget['bg']==3}"
    >
      <widget-dynamic
        [widget]="widget"
        [device]="device"
        [resizeEvent]="resizeEvent"
        [editMode]="mode=='1'"
      ></widget-dynamic>
    </gridster-item>
    }
  </gridster>
</div>
@if (mode == '1') {
<div class="animated slideInUp faster layouter-bar">
  <widget-listbar></widget-listbar>
</div>
}
