<div
  device-bg
  #backgroundimg
  class="animated fadeIn faster"
  [ngStyle]="{'height': config.background.isFull?'100vh':bgPosition}"
>
  @if (config.background.img !='') {
  <img src="{{config.background.img}}" />
  }
</div>
<div device-box #gridsterBox [class.is-editing]="mode=='1'">
  <gridster [options]="options">
    @for (widget of dashboard; track widget) {
    <gridster-item
      [item]="widget"
      [ngClass]="{'default':widget['bg']==0,'translucent':widget['bg']==1,'transparent':widget['bg']==2,'round':widget['bg']==3}"
    >
      <widget-dynamic
        #widgetDynamic
        [widget]="widget"
        [device]="device"
        [resizeEvent]="resizeEvent"
      ></widget-dynamic>
      @if (mode=='1') {
      <div
        class="layouter2-edit-mask layouter2-drag-handle"
        [attr.data-widget-key]="widget['key']"
        (pointerdown)="widgetDynamic.beginEditGesture($event)"
        (pointerup)="widgetDynamic.finishEditGesture($event)"
        (pointercancel)="widgetDynamic.cancelEditGesture()"
      >
        <div class="key" [class.centerkey]="widget['bg']==3">
          {{ widget['key'] }}
        </div>
      </div>
      }
    </gridster-item>
    }
  </gridster>
</div>
@if (mode=='1') {
<div class="animated slideInUp faster layouter-bar">
  <widget-listbar></widget-listbar>
</div>
}
