.box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3px;
}

.item {
    width: 19.5vw;
    height: 19.5vw;
    margin: 0.1vw;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #389BEE;
    i{
        font-size: 30px;
    }
}