<div device-bg #backgroundimg
  [ngStyle]="{'height': config.background.isFull?'100vh':bgPosition}">
  <img src={{config.background.img}}>
</div>
<div #gridsterBox device-box class="l2">
  <gridster [options]="options">
    <ng-container *ngFor="let widget of dashboard">
      <gridster-item [item]="widget"
        [ngClass]="{'default':widget.bg==0,'translucent':widget.bg==1,'transparent':widget.bg==2,'round':widget.bg==3}">
        <widget-dynamic [widget]="widget" [device]="device" [resizeEvent]="resizeEvent"></widget-dynamic>
      </gridster-item>
    </ng-container>
  </gridster>
</div>
<div class="animated slideInUp faster layouter-bar" *ngIf="mode=='1'">
  <widget-listbar></widget-listbar>
</div>
<div class="layouter-bgbar" *ngIf="mode=='2'">
  <layouter2-background (background)="backgroundChanged($event)"></layouter2-background>
</div>