<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>添加定时任务</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <i class="fal fa-trash-alt"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="setting1">
    <div class="title">选择执行动作</div>
    <cmdlist [device]="device" (updateAct)="updateSelectedAction($event)"></cmdlist>
    <!-- <ng-container *ngIf="isDiy">
      <widget-buttonlist [device]="device" (update)="updateSelectedAction($event)"></widget-buttonlist>
    </ng-container>
    <ng-container *ngIf="!isDiy">
      专属设备
      <div #demo act-item *ngFor="let cmd of cmdList;index as i" (click)="selectAction(i)"
        [ngClass]="{'selected':isSelectedAct==i}">
        <div txt>{{cmd.txt}}</div>
      </div>
    </ng-container> -->
  </div>
  <div class="setting2">
    <div class="title">设定执行时间</div>
    <b-timepicker [(time)]="timeInfo"></b-timepicker>
  </div>
  <div class="setting3">
    <div>重复设置</div>
    <div h-line></div>
    <div class="daybar">
      <div day (click)="choseDay(0)" [ngClass]="{'chosen':timingData.day[0]=='1'}">
        周日
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(1)" [ngClass]="{'chosen':timingData.day[1]=='1'}">
        周一
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(2)" [ngClass]="{'chosen':timingData.day[2]=='1'}">
        周二
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(3)" [ngClass]="{'chosen':timingData.day[3]=='1'}">
        周三
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(4)" [ngClass]="{'chosen':timingData.day[4]=='1'}">
        周四
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(5)" [ngClass]="{'chosen':timingData.day[5]=='1'}">
        周五
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(6)" [ngClass]="{'chosen':timingData.day[6]=='1'}">
        周六
        <i class="fas fa-check-circle"></i>
      </div>
    </div>
  </div>
  <div class="btnbox">
    <button fullbtn (click)="save()" [ngStyle]="{'opacity': timingData.act.length == 0?'0.5':'1'}"
      [disabled]="timingData.act.length == 0">
      完成设定
    </button>
  </div>
  <div #timepickerbox></div>
</ion-content>