<b-item-list *ngIf="loaded">
  <ng-container *ngFor="let item of datakeyList;trackBy:trackByFn">
    <b-item [height]="0" *ngIf="item.keys.length!=0">
      <div class="data-box">
        <div card-header>
          <b-device-img [deviceId]="item.deviceId"></b-device-img>
          <div device-info>
            <div name>{{deviceDataDict[item.deviceId].config.customName}}</div>
            <div id>{{item.deviceId}}</div>
          </div>
        </div>
        <div linebox>
          <div line></div>
        </div>
        <div card-footer>
          <div key *ngFor="let key of item.keys;index as i" [ngClass]="{'space': (i+1)%3!=0}">
            {{key}}
            <div delbtn (click)="delDataKey(item.deviceId,key,i)">
              <i class="fal fa-times"></i>
            </div>
          </div>
        </div>
      </div>
    </b-item>
  </ng-container>
</b-item-list>