.bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    // background: rgba(0, 0, 0, 0.2);
}

.popup {
    position: absolute;
    bottom: 0;
    height: 45vh;
    width: 100%;
    background-color: #fff;

    .scroll {
        overflow-x: scroll;
        height: 100%;

        .item-box {
            display: flex;
            align-content: center;
            flex-direction: row;
            height: 100%;
            padding-left: 4vw;

            .item {
                position: relative;
                margin: auto 2vw auto 0;

                .thumbnail {
                    width: 35vw;
                    box-shadow: 0 0 10px #CCC;
                }

                .selected {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 5.5vw;
                    height: 5.5vw;
                    background-color: #389bee;

                    ion-icon {
                        color: #fff;
                        font-size: 5.5vw;
                    }
                }
            }

            .custom {
                padding-right: 4vw;
                font-size: 50px;
                color: #389bee;

                .thumbnail {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    opacity: 0.7;
                    position: absolute;
                }
            }
        }
    }
}

.custom-box {
    padding: 15px;
    color: #555;
    display: flex;
    flex-direction: column;
    // align-items: center;

    .title {
        margin: 15px 0 5px;
    }

    .select-box {
        display: flex;

        .select-item {
            border: 1px solid #333;
            border-radius: 3px;
            margin-right: 15px;
            padding: 0 15px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
        }

        .selected {
            border: 1px solid #389bee;
            background-color: #389bee;
            color: #fff;
        }
    }

    .text-box {
        margin-top: 15px;

        span {
            color: #999;
            font-size: 11px;
        }

    }

    input {
        border: 1px solid #333;
        border-radius: 3px;
        padding-left: 10px;
        height: 36px;
        width: 100%;
        font-size: 13px;
    }

    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 30px;
        height: 30px;
    }

    .save-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

}