<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><i class="iconfont icon-menu"></i></ion-menu-button>
    </ion-buttons>
    <ion-title>聚合视图beta
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!editMode" (click)="unlock()">
        <i class="fal fa-edit "></i>
      </ion-button>
      <ion-button *ngIf="editMode" (click)="lock()">
        <i class="fal fa-save "></i>
      </ion-button>
      <ion-button (click)="changeView()">
        <i class="iconfont icon-view"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div class="noshared" textcenter>
    您的账号暂不支持该功能
  </div> -->
  <div class="sortbox" #dashboardbox>
    <!-- <ng-container *ngFor="let blockId of blockList.order;index as i">
      <dashboard-block class="dashboard-block" [editMode]="editMode" [blockId]="blockId" data-id="{{blockId}}">
        <div *ngIf="editMode" class="delbtn" (click)="delBlock(blockId,i)">
          <ion-icon name="close-circle"></ion-icon>
        </div>
        <div *ngIf="editMode" class="handle">
          <ion-icon name="menu"></ion-icon>
        </div>
      </dashboard-block>
    </ng-container> -->
    <div *ngIf="editMode" class="block-add" (click)="showAddBlockModal($event)">
    </div>
    <div class="block-space"></div>
  </div>
</ion-content>
<div *ngIf="showBlockList" class="mask animated fadeIn"></div>
<!-- <div class="dashboardbox" #dashboardbox>
    <ng-container *ngFor="let groupName of groupList">
      <div class="groupbox">
        <div class="group">
          <div class="name">{{groupName}}</div>
          <div *ngIf="!editMode" class="toggle-box">
            <div class="toggle-inner on">
            </div>
          </div>
          <div *ngIf="editMode" class="handle2">
            <ion-icon name="menu"></ion-icon>
          </div>
        </div>
        <div class="sortbox" #sortbox>
          <ng-container *ngFor="let blockId of groupData[groupName]">
            <dashboard-block class="dashboard-block" [block]="blockData[blockId]">
              <div *ngIf="editMode" class="delbtn" (click)="delBlock(groupName,blockId)">
                <ion-icon name="close-circle"></ion-icon>
              </div>
              <div *ngIf="editMode" class="handle">
                <ion-icon name="menu"></ion-icon>
              </div>
            </dashboard-block>
          </ng-container>
          <div *ngIf="editMode" class="block-add" (click)="addblock($event,groupName)">
          </div>
          <div class="block-space"></div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="editMode" class="group-add">
      <div>+ 添加分组</div>
    </div>
  </div>
</ion-content>
<div *ngIf="showBlockList" class="mask animated fadeIn"></div> -->