<ion-header whitebg>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-menu-button><i class="iconfont icon-menu"></i></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="lock()" *ngIf="options.draggable.enabled">
        <i class="iconfont icon-lock"></i>
      </ion-button>
      <ion-button (click)="unlock()" *ngIf="!options.draggable.enabled">
        <i class="iconfont icon-edit"></i>
      </ion-button>
      <ion-button (click)="changeView()">
        <i class="iconfont icon-view"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen=true>
  <div device-box #gridsterBox *ngIf="loaded">
    <gridster [options]="options" [ngClass]="{'edit':mode=='edit'}">
      <ng-container *ngFor="let widget of dashboardData">
        <gridster-item [item]="widget">
          <blinker-button *ngIf="widget.type=='btn'" [widget]="widget"></blinker-button>
          <blinker-slider *ngIf="widget.type=='sli'" [widget]="widget"></blinker-slider>
          <blinker-text *ngIf="widget.type=='tex'" [widget]="widget"></blinker-text>
        </gridster-item>
      </ng-container>
    </gridster>
  </div>
  <!-- <div class="animated slideInUp faster layouter-bar" *ngIf="mode=='1'">
    <widget-listbar></widget-listbar>
  </div> -->
</ion-content>