.countdown-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    .settingbox {
        width: 100%;

        .title {
            margin: 8px 15px;
        }

        .timebox {
            margin-top: 3px;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 30px;
            height: 50px;
            background-color: #FFF;
        }

        .arrow {
            color: #D8D8D8;
        }
    }

    .paddingbox {
        padding: 25px 15px;
        width: 100%;

        .countdownbox {
            height: 210px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background-color: #FFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

            [clock] {
                font-size: 55px;
                color: #389BEE;
            }

            [text] {
                margin-top: 15px;
                font-size: 15px;
            }

            [action] {
                margin-top: 5px;
                font-size: 15px;
            }
        }
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        [btn] {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            color: #fff;
            transition: all 0.3s;
        }

        .disable {
            opacity: 0.5;
        }

        .start {
            background-color: #1AA717;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        }

        .pause {
            background-color: #FBA613;
            margin-left: 75px;
        }

        .continue {
            background-color: #389BEE;
            margin-left: 75px;
        }

        .cancel {
            background-color: #D61313;
            margin-right: 75px;
        }
    }

    .start-btn {
        margin-top: 30px;
    }

    .arrow {
        color: #D8D8D8;
    }

    .item-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 15px;

        [item] {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28vw;
            height: 11vw;
            margin-top: 8px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

        [item]:active {
            transform: scale(0.95, 0.95);
        }
    }
}