.guide-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  span {
    font-size: 13px;
  }
}

.guide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.iphonex {
  margin-top: 90px;
}

.dialogbox {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;

  .dialog {
    position: relative;
    color: #595959;
    background-color: #fff; // height: 20vh;
    width: 90%;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hidedialog {
  opacity: 0;
}

.dialogbox.top1 {
  top: 80px;

  .triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: -15px;
    right: 10px;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
  }
}

.dialogbox.bot1 {
  bottom: 6vh;

  .triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
}

.btn {
  position: absolute;
  bottom: 21vh;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #fff;
    font-size: 18px;
  }
}

.example {
  color: #fff;
  position: absolute;
  bottom: 15vh;
  font-size: 16px;
}
