<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'MENU.DEV' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollY=false>
  <div class="userinfo">
    <div class="box">
      <div class="item">
        <ng-container *ngIf="developerInfo.userLevel==1">{{'DEV.CERT_NAME' | translate}}:
          {{developerInfo.auth.vender}}<br></ng-container>
        {{'DEV.LICENCE' | translate}}:
        <ng-container *ngIf="developerInfo.userLevel==0">{{'DEV.GROUP0' | translate}}</ng-container>
        <ng-container *ngIf="developerInfo.userLevel==1">{{'DEV.GROUP1' | translate}}</ng-container>
        <ng-container *ngIf="developerInfo.userLevel==99">Admin</ng-container><br>
        <ng-container *ngIf="developerInfo.expiryDate != 0">
          {{'DEV.EXPIRE' | translate}}: {{developerInfo.expiryDate | date:'yyyy-MM-dd'}}
        </ng-container>
      </div>
      <!-- <div class="item">
        独立设备： {{diyDeviceNum}}/{{diyDeviceMaxNum}}<br>
        专属设备： {{proDeviceNum}}/{{proDeviceMaxNum}}
      </div> -->
      <div class="item" style="margin-left: 50px">
        {{'DEV.DIY_DEVICE' | translate}}: {{developerInfo.diyDeviceNum}}/{{developerInfo.diyDeviceMaxNum}}<br>
        {{'DEV.PRO_DEVICE' | translate}}: {{developerInfo.proDeviceNum}}/{{developerInfo.proDeviceMaxNum}}<br>
        {{'DEV.DATA_KEY' | translate}}: {{developerInfo.dataKeyNum}}/{{developerInfo.dataKeyMaxNum}}
      </div>
    </div>
  </div>
  <div class="btnbox">
    <div class="btn" [ngClass]="{'selected': selectedTab==2}" (click)="selectTab(2)">
      <span class="iconfont icon-dev"></span>
      <div> {{'DEV.TOOL' | translate}}</div>
    </div>
    <div class="btn" [ngClass]="{'selected': selectedTab==0}" (click)="selectTab(0)">
      <span class="iconfont icon-data"></span>
      <div> {{'DEV.DATA_MANAGER' | translate}}</div>
    </div>
    <div class="btn" [ngClass]="{'selected': selectedTab==1}" (click)="selectTab(1)">
      <span class="iconfont icon-device"></span>
      <div> {{'DEV.PRO_MANAGER' | translate}}</div>
    </div>
  </div>
  <div class="list">
    <ng-container *ngIf="selectedTab==0">
      <devcenter-datakey></devcenter-datakey>
    </ng-container>
    <ng-container *ngIf="selectedTab==1">
      <div textcenter-temp>本版本暂不支持专属设备开发</div>
      <!-- <ng-container *ngIf="developerInfo.userLevel==0">
        <div textcenter-temp>{{'DEV.TEXT' | translate}}</div>
        <div textcenter-temp>{{'DEV.MORE' | translate}}<br>https://diandeng.tech/doc/prodevice</div>
      </ng-container>
      <devcenter-prodevice *ngIf="developerInfo.userLevel>0"></devcenter-prodevice> -->
    </ng-container>
    <ng-container *ngIf="selectedTab==2">
      <devcenter-devtool></devcenter-devtool>
    </ng-container>
  </div>
</ion-content>