page-scene-edit {
    .scroll-content {
        background: #F5F5F5;
    }
    .show-scene-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #FFF;
        scene-button {
            padding: 15px 0;
        }
        .btn-box {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                color: #389BEE;
                border: 1px solid #E6E6E6;
                padding: 15px;
            }
        }
    }
    .setting-title {
        margin: 15px 0;
        font-size: 13px;
        color: #5d5d5d;
        text-align: center;
    }
    .device-table {
        display: flex;
        flex-direction: column;
        height: 65%;
        .scroll-zone {
            height: 100%;
            ::-webkit-scrollbar {
                display: block;
            }
        }
        .device-title {
            // justify-content: center;
            align-items: center;
            color: #0090d0;
            height: 40px;
        }
    }
    .device-row {
        display: flex;
        align-items: center;
        background-color: #fff;
        width: 100%;
        padding: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid #dee2e6;
        .col1 {
            display: flex;
            justify-content: center;
            align-items: center; // width: 40%;
            img {
                width: 60px;
            } // .devicename {
            //     padding-left: 10px;
            // }
        }
        .col2 {
            max-width: 50%;
            margin-left: 20px;
            display: flex; // justify-items: center;
            flex-direction: column;
            padding-left: 10px;
            .devicename {
                font-size: 19px;
            }
            .deviceaction {
                font-size: 15px;
                color: rgb(100, 100, 100);
            }
        }
        .col3 {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 15px;
            .device-del-button {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                font-size: 20px;
                padding: 0;
            }
        }
    }
    .disable {
        color: #969696;
    }
    .device-add-button {
        background: #389BEE;
        margin: 15px;
        padding: 0;
        .button-inner{
            height: 0;
        }
    }
}