<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'MENU.REGIONAL_MANAGER' | translate}}</ion-title>
    <ion-buttons slot="end" *ngIf="loaded" (click)="switchMode()">
      <ion-button *ngIf="!editMode">
        编辑
      </ion-button>
      <ion-button *ngIf="editMode">
        完成
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <b-item-list *ngIf="loaded" [editMode]="editMode" (sortChange)="sortChange($event)">
    <b-item [id]="roomName" showArrow="true" *ngFor="let roomName of roomDataList" (delete)="delRoom(roomName)"
      (enter)="editRoom(roomName)">
      <div class="title-box">{{roomName}}</div>
      <div class="num" edit-hide>{{roomDataDict[roomName].length}}</div>
    </b-item>
  </b-item-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <b-bottom-btn *ngIf="!editMode" (click)="addRoom()">+ 新建房间</b-bottom-btn>
  </ion-toolbar>
</ion-footer>