<ion-header>
  <ion-toolbar>
    <ion-title>智动化管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <auto-edit></auto-edit> -->
  <ng-container *ngIf="false">
    <div text-center>
      选择智动化触发方式
    </div>

    <div class="item-box">
      <div class="item">
        <i class="fal fa-link"></i>
        设备触发
      </div>
      <div class="item">
        <i class="fal fa-hand-point-up"></i>
        手动执行
      </div>
      <div class="item">
        <i class="fal fa-clock"></i>
        定时触发
      </div>
      <div class="item">
        <i class="fal fa-sun-cloud"></i>
        天气触发
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="item-box">
      <div class="item">

      </div>
    </div>
  </ng-container>

</ion-content>