page-adddevice {
    ion-searchbar {
        min-height: 30px !important;
        .searchbar-input {
            background-color: rgba(255, 255, 255, 0.25) !important;
            border-radius: 20px !important;
        }
    }
    .scroll-content {
        background-color: #F5F5F5;
    }
    .box {
        padding: 16px 16px 0 16px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex-direction: column;
        .vender-box {
            display: flex;
            flex-direction: column; 
            background-color: rgb(255, 255, 255);
            .vender-name {
                font-size: 15px;
                color: #389BEE;
                padding: 10px;
                border-bottom: 1px solid #e6e6e6;
            }
            .device-box {
                display: flex;
                flex-direction: row;
                .device {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 30.5vw;
                    height: 30.5vw;
                    border-bottom: 1px solid #e6e6e6;
                    border-left: 1px solid #e6e6e6;
                    border-right: 1px solid #e6e6e6;
                    img {
                        width: 90%;
                    }
                    .divice-name {
                        color: #595959;
                    }
                }
            }
        }
    }
}