<div widget>
  <div widget-name>{{widget.tit}}</div>
  <div widget-content (click)="switchStyle()" [ngStyle]="{'transform': translateX}"
    [ngClass]="{'x44': widget.sty!=0 && widget.sty!=1}">
    <!-- @if (widget.sty==0 || widget.sty==1) { -->
    <div class="s1">
      <canvas chart #myCanvas width="60" height="60"></canvas>
      <div class="icon-box" [ngStyle]="{'color':color}">
        <i class="{{ico}}"></i>
      </div>
    </div>
    <div class="s2 ccenter" [ngStyle]="{'transform': fontScale}">
      <div class="value" [ngStyle]="{'color':color}">{{value}}</div>
      <div class="unit">{{unit}}</div>
    </div>
    <!-- <div class="s3" *ngIf="widget.sty==2 || widget.sty==3" [ngStyle]="{'right': '-'+this.elWidth+'px'}">

    </div> -->
  </div>
</div>