page-own-airdetector-dashboard {
  .content {
    background-color: #10AF8B;
    color: #ececec;
  }
  .historical-data {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    width: 90%;
    .btn {
      font-size: 14px;
      background-color: #10A583;
      border-radius: 5px;
      padding: 3px 6px 3px 6px;
    }
  }
  .data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .data {
      font-size: 25px;
      span{
        font-size: 15px;
      }
    }
    .api-box {
      // margin-top: 20px;
      .circle {
        border: 2px #10B88A solid;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .aqi {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        background-color: #10B88A;
        margin: auto;
        box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.1);
      }
      .h-line {
        width: 90%;
        height: 1px;
        background-color: rgba(80, 248, 170, 0.3);
      }
      .data {
        font-size: 50px;
        span {
          font-size: 14px;
        }
      }
      .face {
        margin-top: 10px;
        font-size: 35px;
        padding-bottom: 10px;
      }
    }
    .pm-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 35px 20px 35px 20px;
      .v-line {
        width: 1px;
        height: 50px;
        background-color: rgba(80, 248, 170, 0.3);
      }
      .pm {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 26.5vw;
        height: 15vw;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .others-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 15px 10px 15px;
      .other {
        padding: 10px 5px 8px 5px;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: #10B88A;
        border-radius: 5px;
        width: 28vw;
        height: 28vw;
        margin-left: 5px;
        margin-right: 5px;
        box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.1);
        .data {
          margin-bottom: 5px;
          font-size: 6vw;
          height: 30%;
        }
        img {
          margin-bottom: 5px;
          height: 40%;
        }
      }
    }
    .btn-list {
      position: absolute;
      bottom: 40px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      .btn {
        font-size: 14px;
        color: #ececec;
        img {
          margin-right: 3px;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}