b-item-list {
    ::ng-deep {
            .text-box {
                .name {
                    font-size: 20px !important;
                }
            }
    }
}

.toggle {}

.add-btn {
    z-index: 9;
    position: fixed;
    bottom: 60px;
    left: 50%;
    margin-left: -32.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #389BEE;
    color: #fff;
}