<ng-container *ngIf="loaded">
  <b-item-list [editMode]="editMode" [enableSort]="false">
    <ng-container *ngFor="let task of device.data.timing;trackBy: trackByFn">
      <b-item (enter)="editTimingTask(task)">
        <div class="text-box">
          <div class="name">{{task.tim | minuteToTime }}</div>
          <div class="other">{{task.act[0] | actcmd2text:device.id}} <span style="margin-left: 10px;">{{ task.day | days2text}}</span></div>
        </div>
        <div class="toggle">
          <Switch [checked]="task.ena == '1' ? true : false" (click)="changeEna(task)"></Switch>
          <!-- <ion-toggle [checked]="task.ena == '1' ? true : false" (click)="changeEna(task)"></ion-toggle> -->
        </div>
      </b-item>
    </ng-container>
  </b-item-list>

  <div class="add-btn" *ngIf="device.data.timing.length<10" (click)="addTimingTask()">
    <i class="fal fa-plus"></i>
  </div>
</ng-container>