<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'MENU.DEVICE_MANAGER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <b-item-list *ngIf="loaded">
    <b-item *ngFor="let deviceName of deviceDataList" [routerLink]="['/device-manager',deviceName]" showArrow="true">
      <div class="img-box">
        <b-device-img [filename]="deviceDataDict[deviceName].config.image"></b-device-img>
        <img *ngIf="deviceDataDict[deviceName].config.mode=='ble'" class="mode" src="assets/img/icon/ble.png" />
      </div>
      <div class="text-box">
        <div class="name">{{deviceDataDict[deviceName].config.customName}}</div>
        <div class="other">{{deviceName}}</div>
      </div>
    </b-item>
  </b-item-list>
</ion-content>