// [item] {
//     width: 100%;
//     background-color: #fff;
// }

.box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;

    .tc {
        // flex-grow: 1;
        height: calc(100% - 88px);
        position: relative;
    }
}

.btn-gounp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px auto;
    border-bottom: 1px solid #979797;
    height: 88px;
    flex-shrink: 0;

    [btn] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 30px;
        color: #595959;
        font-size: 13px;

        .icon {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            height: 45px;
            width: 45px;
            border: 1px solid #979797;
            border-radius: 50%;
            box-shadow: 3px 0 10px #cacaca;
        }
    }

    .active {
        .icon {
            background-color: #3C3C3C;
            color: #fff;
        }
    }
}