<div class="bg animated fadeIn faster" (click)="exit()">
</div>
<div class="popup animated slideInUp faster">
    <ng-container *ngIf="mode==1">
        <div class="scroll">
            <div class="item-box">
                <ng-container *ngFor="let item of bgList;index as i">
                    <div class="item" [ngClass]="{'end':bgList.length-1==i}" (click)="selected(item,i)">
                        <div class="thumbnail" *ngIf="item.type=='img'">
                            <img src="{{item.img}}">
                        </div>
                        <div class="selected" *ngIf="selectedItem==i">
                            <ion-icon name="checkmark"></ion-icon>
                        </div>
                    </div>
                </ng-container>
                <div class="item custom" (click)="changeMode(2)">
                    <div class="thumbnail">
                        <img src="assets/img/bg/thumbnail/99.jpg">
                        <i class="fad fa-image"></i>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="mode==2">
        <div class="custom-box">
            <div class="close-btn" (click)="changeMode(1)">
                <i class="fal fa-times"></i>
            </div>
            <div class="save-btn" (click)="saveCustom()">
                <i class="fal fa-check"></i>
            </div>
            <div>
                <div class="title">背景位置</div>
                <div class="select-box">
                    <div class="select-item" [ngClass]="{'selected': bgPosition==1}" (click)="selectBgPosition(1)">全屏
                    </div>
                    <div class="select-item" [ngClass]="{'selected': bgPosition==2}" (click)="selectBgPosition(2)">顶部
                    </div>
                </div>
            </div>
            <div>
                <div class="title">顶部风格</div>
                <div class="select-box">
                    <div class="select-item" [ngClass]="{'selected': headerStyle=='dark'}"
                        (click)="selectHeaderStyle('dark')">Dark
                    </div>
                    <div class="select-item" [ngClass]="{'selected': headerStyle=='light'}"
                        (click)="selectHeaderStyle('light')">Light
                    </div>
                </div>
            </div>
            <div>
                <div class="text-box title">图片地址
                    <span *ngIf="bgPosition==2">png/jpg格式 推荐分辨率 750 x 270 px</span>
                    <span *ngIf="bgPosition==1">png/jpg格式 推荐分辨率 750 x 1330 px</span>
                </div>
                <input type="text" [(ngModel)]="imgurl">
            </div>
        </div>
    </ng-container>
</div>