dashboard-block {
    .block {
        position: relative;
        width: 28vw;
        height: 20vw;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        padding: 1.5vh 3vw;
        .textbox {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            color: #3C3C3C;
            font-size: 3vw;
            .text {
                margin-left: 1vw;
            }
        }
        .swibox {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            height: 100%;
            width: 100%;
            font-size: 3vw;
            margin-bottom: -0.5vh;
            color: #3C3C3C;
            .state {
                line-height: 3vw;
            }
            .switch {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .switch.on {
                color: #00AF10
            }
        }
        .valbox {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            color: #3A9FEE;
            .val {
                line-height: 4vh;
                font-size: 4vh;
            }
            .unit {
                font-size: 1.5vh;
                margin-left: 0.5vw;
            }
        }
        .refresh {
            position: absolute;
            top: 1vh;
            right: 1.5vw;
            font-size: 3vw;
            width: 3vw;
            height: 3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-animation: refreshrotate 1.2s linear infinite;
        }
        @-webkit-keyframes refreshrotate {
            0% {
                -webkit-transform: rotate(0deg);
            }
            25% {
                -webkit-transform: rotate(90deg);
            }
            50% {
                -webkit-transform: rotate(180deg);
            }
            75% {
                -webkit-transform: rotate(270deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        .unbind {
            background-color: rgba(0, 0, 0, 0.1); // opacity: 0.1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
    .btn:active {
        border-radius: 4px;
        transform: scale(0.96, 0.96);
    }
}