<!-- <div class="block" [ngClass]="{'btn': block.type=='swi'}" (click)="tap()"> -->
  <!-- 设备已删除 -->
  <!-- <div class="unbind" *ngIf="isUnbind()">
  </div> -->
  <ng-content></ng-content>
  <!-- 开关类型 -->
  <!-- <ng-container *ngIf="block.type=='swi'">
    <div class="textbox">
      <div class="ico">
        <i class="{{block.ico}}"></i>
      </div>
      <div class="text">{{block.txt}}</div>
    </div>
    <div class="swibox">
      <div class="state" *ngIf="val=='on'">
        已打开
      </div>
      <div class="state" *ngIf="val=='off'">
        已关闭
      </div>
      <div class="switch" [ngClass]="{'on': val=='on'}">
        <i class="fal fa-power-off"></i>
      </div>
    </div>

  </ng-container> -->
  <!-- 数据类型1 -->
  <!-- <ng-container *ngIf="block.type=='num1'">
    <div class="textbox">
      <div class="ico">
        <i class="{{block.ico}}"></i>
      </div>
      <div class="text">{{block.txt}}</div>
    </div>
    <div class="valbox" *ngIf="val || val==0">
      <div class="val">{{val}}</div>
      <div class="unit">{{block.unit}}</div>
    </div>
  </ng-container> -->
  <!-- 数据类型2 -->
  <!-- <ng-container *ngIf="block.type=='num2'">
    <div class="text">

    </div>
  </ng-container>
  <ng-container *ngIf="block.type=='num3'">
    <div class="text">

    </div>
  </ng-container> -->
  <!-- 文字类型 -->
  <!-- <ng-container *ngIf="block.type=='txt'">
    <div class="text">

    </div>
  </ng-container> -->
  <!-- 刷新提示 -->
  <!-- <div *ngIf="refresh" class="refresh">
    <img src="assets/img/icon/refresh2.png">
  </div>

</div> -->