<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'MENU.AUTO' | translate}}</ion-title>
    <ion-buttons *ngIf="loaded" slot="end" (click)="switchMode()">
      <ion-button *ngIf="editMode">
        完成
      </ion-button>
      <ion-button *ngIf="!editMode">
        编辑
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <b-item-list [editMode]="editMode" [enableSort]="false" *ngIf="loaded">
    <b-item [height]="90" [id]="taskId" *ngFor="let taskId of autoTaskList;trackBy:trackByIndex" (delete)="delTask($event)">
      <div class="left-box" (click)="editTask(taskId)">
        <div rule-name>{{autoTaskDict[taskId].text}}</div>
        <div icon-box>
          <ng-container *ngIf="autoTaskDict[taskId].triggers.length<=2">
            <ng-container *ngFor="let item of autoTaskDict[taskId].triggers">
              <b-device-img [deviceId]="item.deviceId"></b-device-img>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="autoTaskDict[taskId].triggers.length>2">
            <b-device-img [deviceId]="autoTaskDict[taskId].triggers[0].deviceId"></b-device-img>
            <div class="others">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </div>
          </ng-container>
          <i class="fal fa-link"></i>
          <ng-container *ngIf="autoTaskDict[taskId].actions.length<=2">
            <ng-container *ngFor="let item of autoTaskDict[taskId].actions">
              <b-device-img [deviceId]="item.deviceId"></b-device-img>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="autoTaskDict[taskId].actions.length>2">
            <b-device-img [deviceId]="autoTaskDict[taskId].actions[0].deviceId"></b-device-img>
            <div class="others">
              <ion-icon name="ellipsis-horizontal"></ion-icon>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="right-box" edit-hide>
        <b-toggle [switch]="autoTaskDict[taskId].enable" (click)="tapTaskSwitch(taskId)"></b-toggle>
      </div>
    </b-item>
  </b-item-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <b-bottom-btn *ngIf="!editMode" (click)="addTask()">+ 新建规则</b-bottom-btn>
  </ion-toolbar>
</ion-footer>