.left-box {
    width: calc(100% - 75px);

    [rule-name] {
        color: #444444;
        position: absolute;
        top: 13px;
        font-size: 13px;
    }

    [icon-box] {
        position: absolute;
        bottom: 10px;
        width: 60%;
        display: flex;
        align-items: center;

        b-device-img {
            width: 40px;
            height: 40px;
        }

        .others {
            width: 30px;
            height: 30px;
            margin: 0 5px;
            font-size: 28px;
            background-color: #CCC;
            color: #fff;
            border-radius: 50%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-icon {
                transform: rotate(0deg)
            }
        }

        i {
            padding: 0 15px;
            color: #999;
        }
    }
}

.right-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}