<div #refreshZone></div>
<div class="slidesbox" #deviceZone>
  @if (loaded) {
  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <deviceblock-list
            (swipeEnabled)="swipeEnabledChanged($event)"
            (refresherEnabled)="refresherEnabledChanged($event)"
          >
          </deviceblock-list>
        </li>
        @for (roomName of roomDataList; track roomName) {
        <li class="splide__slide">
          <deviceblock-list
            [roomName]="roomName"
            (swipeEnabled)="swipeEnabledChanged($event)"
            (refresherEnabled)="refresherEnabledChanged($event)"
          >
          </deviceblock-list>
        </li>
        }
      </ul>
    </div>
  </section>
  }
</div>
