<div #refreshZone></div>
<div class="device-list-container" #deviceZone>
  <div class="room-slide room-slide-current" #currentSlide>
    <deviceblock-list
      [roomName]="selectedRoomName"
      (swipeEnabled)="swipeEnabledChanged($event)"
      (refresherEnabled)="refresherEnabledChanged($event)"
    >
    </deviceblock-list>
  </div>

  @if (incomingRoomId !== null) {
  <div
    class="room-slide room-slide-incoming"
    [class.room-slide-from-left]="incomingDirection === -1"
    #incomingSlide
    aria-hidden="true"
  >
    <deviceblock-list [roomName]="incomingRoomName"></deviceblock-list>
  </div>
  }
</div>
