<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'HOME.ADD_DEVICE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="switchShowMode()">
        <ion-icon class="icon2" *ngIf="showMode=='block'" name="list-outline"></ion-icon>
        <ion-icon class="icon2" *ngIf="showMode=='list'" name="apps-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="scanQrcode()">
        <ion-icon class="icon1" name="scan-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="switchSearchbar()">
        <ion-icon class="icon1" name="search-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar *ngIf="isShowSearchbar" (ionInput)="getItems($event)"></ion-searchbar>
<ion-content>
  <div class="box" *ngFor="let item of items" [ngClass]="{'list': showMode=='list','block': showMode=='block'}">
    <div class="vender-box">
      <div class="vender-name">{{item.vendername}}</div>
      <div class="device-box">
        <ng-container *ngFor="let device of item.devices;index as i">
          <ng-container *ngIf="device.deviceType!='DiyLinux' && device.deviceType!='DiyDevice' || isAdvancedDeveloper">
            <div class="device" [ngClass]="{'first': (i+1)%3==1,'end':(i+1)%3==0}" (click)="gotoGuide(device)">
              <b-device-img [filename]="device.image"></b-device-img>
              <div class="divice-name">{{device.name}}</div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="hspace"></div>
</ion-content>