.box {
  padding: 16px 16px 0 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;

  .vender-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .vender-name {
      font-size: 15px;
      color: #389bee;
      padding: 10px;
      border-bottom: 1px solid #e6e6e6;
    }

    .device-box {
      display: flex;
      position: relative;

      .device {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;

        .divice-name {
          margin-top: 5px;
          font-size: 13px;
          color: #595959;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 95%;
          overflow: hidden;
          text-align: center;
        }
      }

      .first {
        border-left: none;
      }

      .end {
        border-right: none;
      }
    }
  }
}

.hspace {
  height: 30px;
}

::ng-deep {
  .icon1 {
    font-size: 30px;
  }

  .icon2 {
    font-size: 27px;
  }
}

ion-searchbar {
  background-color: #fff;
}

.block {
  .device-box {
    flex-direction: row;
    flex-flow: row wrap;
  }

  .device {
    flex-direction: column;
    width: 33.3%;
    height: 30vw;
  }

  b-device-img {
    width: 65%;
  }
}

.list {
  .device-box {
    flex-direction: column;

    .device {
      width: 100%;
      height: 60px;
      flex-direction: row;
    }

    b-device-img {
      width: 50px;
      margin-left: 15px;
    }
  }
}