<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>添加设备</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="switchSearchbar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar *ngIf="isShowSearchbar" (ionInput)="getItems($event)"></ion-searchbar>
<ion-content>
  <div class="box" *ngFor="let item of items">
    <div class="vender-box">
      <div class="vender-name">{{item.vendername}}</div>
      <div class="device-box">
        <ng-container *ngFor="let device of item.devices;index as i">
          <div class="device" [ngClass]="{'first': (i+1)%3==1,'end':(i+1)%3==0}" (click)="gotoGuide(device)">
            <!-- [routerLink]="[ '/adddevice', device.deviceType ]" [queryParams]="device.isDev?{isDev:true}:''"> -->
            <img src="assets/img/devices/icon/{{device.image}}" onError="this.src='assets/img/devices/icon/unknown.png'" />
            <div class="divice-name">{{device.name}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="hspace"></div>
</ion-content>