.translucent {
    height: 100%;
    z-index: 99;
    background-color: rgba(245, 245, 245, 0.96);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 21px;
    color: #595959;
}

.margin2{
    margin-top: 2vh;
}

.margin5{
    margin-top: 5vh;
}

.line {
    height: 1px;
    width: 90%;
    background-color: #DDDDDD;
    margin: 25px 0 21px 0;
}

.stepbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2vh 5px;
    width: 90%;

    .stepitem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.5vh;

        .circle {
            background: #ECECEC;
            border-radius: 50%;
            color: #898989;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1vh;

        }

        .light {
            background: #389BEE;
            color: #FFF;

            .loaderbox2 {
                position: absolute;
                z-index: -1;
                transform: scale(1);

                .ball-scale-multiple>div {
                    background: #389BEE;
                }
            }
        }
    }
}


.btn {
    position: absolute;
    bottom: 100px;
    width: 80%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #389BEE 1px solid;
    border-radius: 22px;
    color: #389BEE;
}

// }

.iconbox {
    border-radius: 50%;
    font-size: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    width: 25vw;
    height: 25vw;
}

.iconbox.done {
    border: 3px solid #34AA54;
    color: #34AA54;
}

.iconbox.fail {
    border: 3px solid #D0021B;
    color: #D0021B;
}

.loaderbox {
    transform: scale(1.5);

    .ball-scale-multiple>div {
        background: #389BEE;
    }
}
