<div class="room-bar">
  <div class="room-btn" (click)="presentRoommenu($event)">
    <!-- <i class="fas fa-th-large"></i> -->
    <img src="assets/img/icon/room.png" />
  </div>
  <div class="scrollbox" (scroll)="test($event)">
    <div class="room-box" #roombox>
      <div class="room" (click)="selectRoom(-1)" [ngClass]="{'selected':roomid==-1}">所有设备</div>
      <div class="room" *ngFor="let room of userProvider.roomList.order;index as i" [ngClass]="{'selected':roomid==i}" (click)="selectRoom(i)">{{room}}</div>
    </div>
  </div>
</div>


<!-- <div class="room-btn add-room">
      <i class="far fa-plus"></i>
  </div> -->