[textcenter] {
    font-size: 13px;
    color: #fff;
    margin-top: 5vh;
}

[device-bg].on {
    background: radial-gradient(circle, #61B4FA, #389BEE, #0076D9);
}

[device-bg] {
    background: radial-gradient(circle, rgb(75, 121, 158), rgb(38, 99, 148), rgb(3, 56, 99));
}

.off {

    [btn] {
        .icon {
            border: 1px solid #FFF !important;
        }
    }

    [btn].selected {
        .icon {
            box-shadow: 3px 0 10px #898989 !important;
            background: rgba(255, 255, 255, 0.3) !important;
        }
    }

    .plug {
        border: 1px solid #898989 !important;
    }

    [socket] {
        background: #595959 !important;
    }

}

.btn-gounp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;

    [btn] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 10px;
        color: #FFF;
        font-size: 13px;

        .icon {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            height: 45px;
            width: 45px;
            border: 1px solid #4EA9F4;
            border-radius: 50%;
            // color: #FFF;
        }
    }

    .selected {
        .icon {
            box-shadow: 3px 0 10px #3683DE;
            background-color: #65A8F6;
            color: #fff;
        }
    }
}

[item] {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    color: #3C3C3C;
}

.switch-tab .plugbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    transition: all 0.5s;
    color: #FFF;

    .power {
        font-size: 17px;
        margin-bottom: 3vh;
        height: 25px;
    }

    .plug {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 29vh;
        width: 29vh;
        border: 1px solid #FFF;
        border-radius: 50%;
    }

    [socketbox] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    [socketbox1] {
        margin-bottom: 2.5vh;
    }

    [socketbox2] {
        margin-top: 2.5vh;
    }

    [socket] {
        height: 5vh;
        width: 1.5vh;
        background: #fff;
    }

    [socket1] {
        margin: 0 2vh 0 2vh;
    }

    [socket2] {
        transform: rotate(-30deg);
        margin: 0 4vh 0 0;
    }

    [socket3] {
        transform: rotate(30deg);
        margin: 0 0 0 4vh;
    }
}

.switchbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    color: #FFF;
    font-size: 40px;

    .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
        width: 85px;
        border: 1px solid #FFF;
        border-radius: 50%;
        color: #fff;
    }

    .switch.on {
        background: rgba(255, 255, 255, 0.2);
    }

    .switch:active {
        transform: scale(0.95, 0.95);
    }
}

.chart-tab {
    .title-box {
        padding: 30px 0 0 30px;
        color: #fff;
    }

    .chart {
        width: 100vw;
        height: 50vh;
        background: rgba(255, 255, 255, 0.2);
    }
}