<ion-header>
  <ion-navbar>
    <ion-title>{{name}}配置向导</ion-title>
  </ion-navbar>
</ion-header>
<ion-content has-header>
  <div *ngIf="!found">
    <p text-center>
      <img src="assets/svg/puff.svg" style="width:90%" />
    </p>
    <h3 text-center>搜索设备中</h3>
  </div>
  <div *ngIf="found">
    <p text-center>
      <img src="assets/img/mi-scale-config.png" style="width:80%" />
    </p>
    <h3 text-center>已发现{{name}}</h3>
    <h3 text-center>请站到秤上完成设备绑定</h3>
    <!-- <h3>将秤放在平整的地面上</h3> -->
  </div>
</ion-content>