.blinker-box {
    position: absolute;
    bottom: 0;
    margin: 15px;
    z-index: 999;
    width: calc(100% - 30px);
    height: 150px;
    font-size: 12px;

    .btnbox {
        position: absolute;
        bottom: 10px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;

        .savebtn {
            width: 90%;
            font-size: 14px;
            transition: opacity 0.5s;
        }
    }

    .line {
        margin-top: 7px;

        >div {
            margin-top: 2px;
            color: #666;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.mapbox {
    position: relative;
    width: 100vw;
    height: 100vh;
}