.listview {
    position: relative;
    height: 80%;
    width: 100%;
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 15vh;
    }
}

[box] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 15px;
}

[header] {
    font-size: 1rem;
}

[list] {
    font-size: 0.6rem;
}

[device] {
    text-align: center;
    .devicebox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .image {
            width: 8vw;
        }
        .name {
            margin-top: 0.3rem;
        }
    }
}

[id] {}

[position] {}

[state] {
    [circle] {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: rgb(88, 88, 88);
    }
    .online {
        background-color: rgb(60, 250, 0);
    }
    .warning {
        background-color: rgb(255, 218, 9);
    }
    .error {
        background-color: rgb(255, 38, 0);
    }
}

// .bar {
//     border: 1px solid #959595;
//     height: 20%;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     flex-direction: row;
//     padding: 15px;
//     .devicebox {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         .image {
//             width: 12vw;
//         }
//         .name {
//             margin-top: 0.3rem;
//             font-size: 0.7rem;
//         }
//     }
//     .infobox {
//     }
// }