[widget] {}

[widget-name] {
    &.on {
        color: #EEE;
    }
}

.widget-button {
    transition: all 0.1s;

    // 按下动画
    &:active {
        transform: scale(0.95);
    }
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 26px;
}