.room-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 30px;
    width: 100vw;
    padding-right: 15px;
    color: #B1B1B1;
    // margin-top: 0px;

    .room-btn {
        padding: 0 10px 0 15px;
        height: 100%;
        display: flex;
        align-items: center;

        img {
            width: 28px;
        }
    }

    .room-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;

        .room {
            // display: inline-block;
            padding: 0 10px;
            font-size: 14px;
            line-height: 19px;
            height: 100%;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s;
        }

        .add-room {
            font-size: 21px;
            padding-left: 10px;
        }
    }

    .selected {
        color: #389BEE;
        transform: scale(1.1, 1.1);
    }

    .scrollbox {
        height: 100%;
        width: 200%;
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}