scene-button-group {
    .scrollHeight {
        height: 60px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .buttonGroupBox {
        padding: 0 10px 0 10px;
    }
    .buttonGroup {
        display: flex;
        flex-direction: row; // display:inline-block;
        // *display:inline;
        // *zoom:1;
    }
    scene-button {
        width: 100px;
        margin-left:6px;
    }
    .icon {
        color: #389BEE
    }
    .sschosen {
        opacity: 0;
    }
    .ssdrag {
        .scene-btn {
            opacity: 1;
            box-shadow: 0 0 5px 3px rgba(60, 150, 255, 0.8);
        }
    }
}