<ion-header>
  <ion-toolbar>
    <blinker-lang-selector></blinker-lang-selector>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollY=false>
  <div class="menubox">
    <div class="userbox" *ngIf="loaded" (click)="goto('/user')">
      <div class="avatar ccenter">
        <i class="fa-light fa-user-astronaut"></i>
      </div>
      <div class="textbox">
        <div>{{user.username}}</div>
        <div class="text2">{{deviceNum}} {{'MENU.DEVICE_NUM' | translate}}</div>
      </div>
    </div>

    <div class="itembox">
      <ng-container *ngFor="let item of menuList">
        <div class="item" [ngClass]="{'disabled': item.disabled}" (click)="goto(item.url,item)">
          <div class="icon">
            <i class="{{item.icon}}"></i>
          </div>
          <div class="title">{{item.title2 | translate}}</div>
          <div class="arrow ccenter">
            <i class="fa-light fa-chevron-right"></i>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="version" (click)="checkCodePush()">
      <div>{{'MENU.VERSION' | translate}} {{currentVersion}}</div>
      <img *ngIf="showNewVersion" class="cue" src="assets/img/new.png">
    </div>
  </div>
</ion-content>