<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons *ngIf="step!=2" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>网络接入</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding whitebg>
  <ng-container *ngIf="step==0">
    <div class="desc">
      <p>选择通信服务商</p>
    </div>
    <div class="broker-box">
      <div class="broker-item" (click)="registerDevice('blinker')">
        <img src="assets/img/broker/blinker.png" alt="">
      </div>
    </div>
  </ng-container>
  <div class="card" *ngIf="step==1">
    <div class="loaderbox">
      <div class="loader-inner ball-pulse">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="loaddesc">正在注册设备</div>
  </div>
  <div class="card" *ngIf="step==2">
    <div class="broker-item">
      <img src="assets/img/broker/blinker.png" alt="">
    </div>

    <div class="text">复制以下Secret Key到你的源程序中：</div>
    <div keyvalue selectable>{{secretKey}}</div>
    <button class="copybtn" (click)="copyKey()"><span>复制key</span></button>
  </div>
</ion-content>
<div class="btnbox" *ngIf="step==2">
  <button fullbtn (click)="gotoHome()">
    返回我的设备
  </button>
</div>