<ion-header>
  <ion-toolbar>
    @if (step!=2) {
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    }
    <ion-title>网络接入</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding whitebg>
  @if (step==1) {
  <div class="card">
    <div class="loaderbox">
      <div class="loader-inner ball-pulse">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="loaddesc">正在注册设备</div>
  </div>
  } @if (step==2) {
  <div class="card">
    <div class="broker-item">
      <img src="img/broker/blinker.png" alt="" />
    </div>
    <div class="text">复制以下Secret Key到你的源程序中：</div>
    <div keyvalue selectable>{{secretKey}}</div>
    <button class="copybtn" (click)="copyKey()"><span>复制key</span></button>
  </div>
  }
</ion-content>
@if (step==2) {
<div class="btnbox">
  <button fullbtn (click)="gotoHome()">返回我的设备</button>
</div>
}
