<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>WiFi接入</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding whitebg>
  <div class="desc">
    <p>blinker商业版支持国内外多个服务商的iot服务</p>
    <p>当前版本基于阿里Broker通信</p>
  </div>

  <div class="card" *ngIf="!showExit">
    <ng-container *ngIf="!(showKey||showExit)">
      <div class="loaderbox">
        <div class="loader-inner ball-pulse">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="loaddesc">正在注册设备</div>
    </ng-container>
    <ng-container *ngIf="showKey">
      <div class="text">复制以下Secret Key到你的源程序中：</div>
      <div keyvalue selectable>{{secretKey}}</div>
      <button class="copybtn" (click)="copyKey()"><span>复制key</span></button>
    </ng-container>

  </div>
</ion-content>
<div class="btnbox">
  <button *ngIf="showKey||showExit" fullbtn (click)="gotoHome()">
    返回我的设备
  </button>
</div>