page-user-devtool {
    .scroll-content {
        background-color: #F5F5F5;
    }
    .userdevicebox {
        display: flex;
        flex-direction: column;
        .device-item {
            display: flex;
            align-items: center;
            border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            background: #FFF;
            height: 95px;
            padding: 15px;
            .item-img-box {
                img {
                    width: 60px;
                }
            }
            .name-box {
                padding-left: 50px;
                .name {
                    font-size: 16px;
                }
                .mac {
                    margin-top: 5px;
                    font-size: 13px;
                    color: rgb(100, 100, 100);
                }
            }
        }
    }
}