<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>消息盒子</ion-title>
    <ion-buttons slot="end" (click)="switchMode()">
      <ion-button *ngIf="!editMode">
        编辑
      </ion-button>
      <ion-button *ngIf="editMode">
        完成
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="nomess animated fadeIn" *ngIf="messageList.length==0" textcenter>
    <img src="assets\img\icon\message.svg">
    <div textcenter>暂无消息</div>
  </div>
  <b-item-list [editMode]="editMode" [enableSort]="false" *ngIf="messageList.length>0">
    <ng-container *ngFor="let item of messageList;trackBy:trackByFn">
      <b-item (delete)="delMess(item)" (enter)="enter(item)" (enter)="openMess(item)">
        <div class="img-box">
          <img src="{{getimgUrl(item)}}" onError="this.src='assets/img/blinker-icon.png'">
        </div>
        <div class="text-box">
          <div class="name">{{item.title}}</div>
          <div class="other">{{item.content}}</div>
        </div>
        <div class="date">
          {{item.date | date:'MM/dd HH:mm'}}
        </div>
      </b-item>
    </ng-container>
  </b-item-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>