<ion-header whitebg class="main-tab-header device-header">
  <ion-toolbar>
    <ion-title>{{ 'NAVIGATION.DEVICE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="header-action notice-button"
        [attr.aria-label]="'TAB_DEVICE.MESSAGE_CENTER' | translate"
        [routerLink]="['/message']"
      >
        <i class="fa-light fa-bell"></i>
      </ion-button>
      <ion-button
        #deviceAddMenuTrigger
        id="device-add-menu-trigger"
        class="header-action add-button"
        [attr.aria-label]="'TAB_DEVICE.OPEN_ADD_MENU' | translate"
        aria-haspopup="menu"
      >
        <i class="fa-light fa-plus"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #deviceContent fullscreen="true">
  <div slot="fixed" class="top-scroll-mask" aria-hidden="true"></div>

  <div slot="fixed" class="room-list-fixed">
    <room-list [(roomid)]="roomid" (roomidChange)="onRoomidChange($event)"></room-list>
  </div>

  <div class="device-page">
    @if (deviceNum > 0) {
    <div class="device-zone">
      <deviceblock-zone
        [(roomid)]="roomid"
      ></deviceblock-zone>
    </div>
    } @else {
    <div class="empty-devices">
      <div class="empty-icon"><i class="fa-light fa-house-signal"></i></div>
      <h2>{{ 'TAB_DEVICE.EMPTY_TITLE' | translate }}</h2>
      <p>{{ 'TAB_DEVICE.EMPTY_DESCRIPTION' | translate }}</p>
      <button type="button" [routerLink]="['/adddevice']">
        <i class="fa-light fa-plus"></i>
        {{ 'HOME.ADD_DEVICE' | translate }}
      </button>
    </div>
    }
  </div>
</ion-content>

<ion-popover
  #deviceAddMenu
  class="device-add-popover"
  trigger="device-add-menu-trigger"
  triggerAction="click"
  reference="trigger"
  side="bottom"
  alignment="end"
  [dismissOnSelect]="false"
  [showBackdrop]="true"
  (willPresent)="scheduleAddMenuPosition()"
  (didPresent)="scheduleAddMenuPosition()"
>
  <ng-template>
    <nav
      class="device-add-menu"
      role="menu"
      [attr.aria-label]="'TAB_DEVICE.ADD_MENU' | translate"
    >
      <button type="button" role="menuitem" (click)="openAddPage('/adddevice')">
        <span class="menu-icon"><i class="fa-light fa-router"></i></span>
        <span class="menu-copy">
          <strong>{{ 'TAB_DEVICE.ADD_DEVICE' | translate }}</strong>
          <small>{{ 'TAB_DEVICE.ADD_DEVICE_DESCRIPTION' | translate }}</small>
        </span>
        <i class="fa-light fa-chevron-right menu-arrow" aria-hidden="true"></i>
      </button>

      <button type="button" role="menuitem" (click)="openAddPage('/room-manager')">
        <span class="menu-icon"><i class="fa-light fa-layer-group"></i></span>
        <span class="menu-copy">
          <strong>{{ 'TAB_DEVICE.ADD_ROOM' | translate }}</strong>
          <small>{{ 'TAB_DEVICE.ADD_ROOM_DESCRIPTION' | translate }}</small>
        </span>
        <i class="fa-light fa-chevron-right menu-arrow" aria-hidden="true"></i>
      </button>

      <button type="button" role="menuitem" (click)="showComponentPending()">
        <span class="menu-icon"><i class="fa-light fa-puzzle-piece"></i></span>
        <span class="menu-copy">
          <strong>{{ 'TAB_DEVICE.ADD_COMPONENT' | translate }}</strong>
          <small>{{ 'TAB_DEVICE.ADD_COMPONENT_DESCRIPTION' | translate }}</small>
        </span>
        <i class="fa-light fa-chevron-right menu-arrow" aria-hidden="true"></i>
      </button>
    </nav>
  </ng-template>
</ion-popover>
