<ion-header whitebg class="main-tab-header device-header">
  <ion-toolbar>
    <ion-title>设备</ion-title>
    <ion-buttons slot="end">
      <ion-button class="header-action notice-button" aria-label="消息中心" [routerLink]="['/message']">
        <i class="fa-light fa-bell"></i>
      </ion-button>
      <ion-button class="header-action add-button" aria-label="添加设备" [routerLink]="['/adddevice/DiyArduino']">
        <i class="fa-light fa-plus"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div slot="fixed" class="top-scroll-mask" aria-hidden="true"></div>

  <div slot="fixed" class="room-list-fixed">
    <room-list [(roomid)]="roomid" (roomidChange)="onRoomidChange($event)"></room-list>
  </div>

  <div class="device-page">
    @if (deviceNum > 0) {
    <div class="device-zone">
      <deviceblock-zone
        [(roomid)]="roomid"
      ></deviceblock-zone>
    </div>
    } @else {
    <div class="empty-devices">
      <div class="empty-icon"><i class="fa-light fa-house-signal"></i></div>
      <h2>还没有设备</h2>
      <p>添加你的第一台智能设备，开始轻松生活</p>
      <button type="button" [routerLink]="['/adddevice/DiyArduino']">
        <i class="fa-light fa-plus"></i>
        添加设备
      </button>
    </div>
    }
  </div>
</ion-content>
