<ion-header whitebg>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <i class="fa-regular fa-bars"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>设备</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/adddevice/DiyArduino']">
        <i class="fa-regular fa-plus"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" scrollY="false">
  <div class="bg"></div>
  @if (loaded) {
  <div
    class="contentbox"
    [ngClass]="{'show-scene-button-group': sceneDataList.length>0}"
  >
    @if (sceneDataList.length>0) {
    <scene-button-group></scene-button-group>
    } @if (deviceNum>0) {
    <room-list [(roomid)]="roomid" (roomidChange)="onRoomidChange($event)">
    </room-list>
    <div class="deviceZone animated fadeIn">
      <deviceblock-zone [(roomid)]="roomid"> </deviceblock-zone>
    </div>
    } @else {
    <div class="nodevice">
      <img src="img/nodevice.svg" />
      <div class="text">{{'HOME.WELCOME' | translate}}</div>
      <button [routerLink]="['/adddevice/DiyArduino']">
        <i class="fal fa-plus"></i
        ><span>{{'HOME.ADD_DEVICE' | translate}}</span>
      </button>
    </div>
    }
  </div>
  }
</ion-content>
