<ion-header whitebg>
  <ion-toolbar>
    <blinker-lang-selector></blinker-lang-selector>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="logo-box">
    <img class="logo" src="{{LOGO}}">
  </div>
  <form class="form-box" (ngSubmit)="login()" #formBox="ngForm">
    <div class="input-box">
      <div class="item-img">
        <i class="fal fa-envelope"></i>
      </div>
      <input type="email" [(ngModel)]="email" name="email" placeholder="{{'ACCOUNT.EMAIL' | translate}}" (focus)="onFocus()" (blur)="onBlur()">
    </div>
    <div class="input-box">
      <div class="item-img">
        <i class="fal fa-shield-check"></i>
      </div>
      <input type="text" [(ngModel)]="code" name="code" placeholder="{{'ACCOUNT.VERIFY_CODE' | translate}}" maxlength="6"
        (focus)="onFocus()" (blur)="onBlur()">
      <button type="button" class="send-code-btn" [disabled]="countdown > 0" (click)="sendCode($event)">
        <span *ngIf="countdown === 0">{{'ACCOUNT.SEND_CODE' | translate}}</span>
        <span *ngIf="countdown > 0">{{countdown}}s</span>
      </button>
    </div>
    <button type="submit" fullbtn>{{'ACCOUNT.LOGIN' | translate}}</button>
  </form>
  <div class="login-tip">
    {{'ACCOUNT.LOGIN_TIP' | translate}}
  </div>
  <div class="other animated fadeInUp" *ngIf="showPoweredBy">
    <div>
      <span link-text (click)="openUrl(USER_AGREEMENT,'用户协议')">
        {{'ACCOUNT.USER_AGREEMENT' | translate}}
      </span>
      {{'ACCOUNT.AND' | translate}}
      <span link-text (click)="openUrl(PRIVACY_POLICY,'隐私政策')">
        {{'ACCOUNT.PRIVACY_POLICY' | translate}}
      </span>
    </div>
  </div>
</ion-content>