@import "../account.scss";

.logo-box {
  text-align: center;
  .logo {
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 200px;
  }
}

.form-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 1.5rem;

  .input-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 12px;
    border-bottom: 1px solid #c8c7cc;
    .item-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      font-size: 22px;
      margin-right: 10px;
    }

    input {
      flex-grow: 1;
      height: 50px;
      line-height: 22px;
    }

    .iconfont {
      position: absolute;
      right: 20px;
      font-size: 20px;
      padding: 0 10px;
    }
  }

  [fullbtn] {
    margin-top: 40px;
  }
}

.other-btn {
  padding: 0 30px;
  z-index: 1;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: #333;
}
