<div class="room-filter">
  <div class="room-scroll" #roombox>
    <button
      type="button"
      class="room-chip"
      [attr.data-room-id]="-1"
      [class.selected]="roomid === -1"
      (click)="selectRoom(-1)"
    >
      全部
    </button>
    @for (room of roomDataList; track room; let i = $index) {
    <button
      type="button"
      class="room-chip"
      [attr.data-room-id]="i"
      [class.selected]="roomid === i"
      (click)="selectRoom(i)"
    >
      {{ room }}
    </button>
    }
  </div>
  <button type="button" class="room-manage" aria-label="管理房间">
    <i class="fa-light fa-ellipsis"></i>
  </button>
</div>
