<ion-header whitebg>
    <ion-toolbar overlayPadding>
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="user">
                <div class="avatar" [ngClass]="{'offline':!connected}">
                    <img src="{{user.avatar}}" onError="this.src='assets/img/avatar.png'">
                </div>
            </ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/adddevice/DiyArduino']">
                <i class="iconfont icon-add-circle"></i>
            </ion-button>
            <!-- <ion-button (click)="changeView()">
                <i class="iconfont icon-view"></i>
            </ion-button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen=true scrollY=false>
    <div class="bg"></div>
    <div class="contentbox" *ngIf="loaded" [ngClass]="{'show-scene-button-group': sceneDataList.length>0}">
        <scene-button-group *ngIf="sceneDataList.length>0"></scene-button-group>
        <ng-container *ngIf="deviceNum>0;else nodevice">
            <room-list [(roomid)]=" roomid">
            </room-list>
            <div class="deviceZone animated fadeIn">
                <deviceblock-zone [(roomid)]="roomid">
                </deviceblock-zone>
            </div>
        </ng-container>
        <ng-template #nodevice>
            <div class="nodevice">
                <img src="assets/img/nodevice.svg">
                <div class="text">{{'HOME.WELCOME' | translate}}</div>
                <button [routerLink]="['/adddevice']">
                    <i class="fal fa-plus"></i><span>{{'HOME.ADD_DEVICE' | translate}}</span>
                </button>
            </div>
        </ng-template>
    </div>
    <div class="speech">
        <div class="speech-button">
            <speech-button></speech-button>
        </div>
    </div>
</ion-content>