<ion-header whitebg>
    <ion-toolbar overlayPadding>
        <ion-buttons slot="start">
            <ion-menu-button><i class="iconfont icon-menu"></i></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/adddevice']">
                <i class="iconfont icon-add-circle"></i>
            </ion-button>
            <ion-button (click)="changeView()">
                <i class="iconfont icon-view"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen=true scrollY=false>
    <!-- <div class="bg" [ngStyle]="{'height': bgPosition}"></div> -->
    <div class="bg"></div>
    <div class="contentbox" *ngIf="loaded" [ngClass]="{'show-scene-button-group': sceneDataList.length>0}">
        <scene-button-group *ngIf="sceneDataList.length>0"></scene-button-group>
        <ng-container *ngIf="deviceNum>0;else nodevice">
            <room-list [(roomid)]=" roomid">
            </room-list>
            <div #deviceZone class="deviceZone animated fadeIn">
                <deviceblock-homelist [(roomid)]="roomid">
                </deviceblock-homelist>
            </div>
        </ng-container>
        <ng-template #nodevice>
            <div class="nodevice">
                <img src="assets/img/nodevice.svg">
                <div class="text">{{'HOME.WELCOME' | translate}}</div>
                <button [routerLink]="['/adddevice']">
                    <i class="fal fa-plus"></i><span>{{'HOME.ADD_DEVICE' | translate}}</span>
                </button>
            </div>
        </ng-template>
    </div>
    <div class="speech" *ngIf="!isIos">
        <div class="speech-button" [ngClass]="{'iphonex': isIphonex}">
            <speech-button></speech-button>
        </div>
    </div>
</ion-content>