ion-toolbar {
    --background: transparent !important;
    --ion-color-base: transparent !important;
}

.nodevice {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 35%;

    img {
        height: 25%;
    }

    .text {
        margin-top: 5%;
        color: #999999;
        font-size: 13px;
    }

    button {
        margin-top: 10%;
        padding: 15px 50px;
        font-size: 0.9rem;
        background-color: #389bee;
        border-radius: 5px;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        i {
            font-size: 1.1rem;
            margin-right: 0.5rem;
        }
    }
}

.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // filter: blur(5px);
}

.contentbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    width: 100%;

    .deviceZone {
        height: 100%;
    }

    &.show-scene-button-group {
        .deviceZone {
            height: calc(100% - 80px);
        }
    }
}

.speech {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99;
}

.speech.tab {
    position: fixed;
    right: 13px;
    bottom: 65px;
    z-index: 99;
}