page-diy-arduino-guide {
    [item] {
        background-color: #fff;
        padding: 15px;
    }
    .scroll-content {
        background-color: #F5F5F5;
    }
    .device-item {
        height: 20vh;
        display: flex;
        justify-content: center;
        img {
            height: 100%;
        }
    }
    .text-item {
        margin-top: 10px;
    }
    .button-ios {
        background: #389BEE;
        img {
            width: 28px;
            height: 28px;
        }
    }
}