.cardbox {
    padding: 15px;
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        background-color: #FFF;
        height: 16vh;
        margin-top: 3px;
        font-size: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        .ico {
            font-size: 4.5vh;
            color: #389BEE;
        }
        .name {}
        .btnbox {
            .btn {
                color: #389BEE;
                font-size: 13px;
                padding: 8px 0px 8px 60px;
            }
        }
    }
}

.textbox {
    color: #959595;
    margin: 20px 0 10px 15px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 10px 20px;
    background-color: #FFF;
    height: 10vh;
    margin-top: 3px;
    font-size: 15px;
    img {
        height: 9vh;
    }
    .namebox {
        margin-left: 20px;
        .name {}
        .act {
            font-size: 13px;
            color: #959595;
        }
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        padding: 20px;
        font-size: 15px;
        color: #389BEE;
    }
}

.scrollbox {
    width: 100%;
    height: calc(76vh - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.hspace {
    height: 16vh;
}

.addbtn {
    border-top: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    background-color: #FFF;
    color: #389BEE;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    font-size: 15px;
}