<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>专属设备详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infobox" *ngIf="prodevice">
    <div class="imgbox" (click)="selectIcon()">
      <b-device-img [filename]="prodevice.image"></b-device-img>
      <!-- <img src="assets/img/devices/icon/{{prodevice.image}}" onError="this.src='assets/img/devices/unknown.png'" /> -->
      <div class="uploadimg">更改图标</div>
    </div>
    <div class="itembox">
      <div class="item">提供者:<span>{{prodevice.vender}}</span></div>
      <div class="item" (click)="changeName()">设备名:<span>{{prodevice.name}}</span><i class="fal fa-pencil"></i>
      </div>
      <div class="item">
        接入方式: <span *ngIf="prodevice.mode=='mqtt'">WiFi（MQTT）</span>
      </div>
      <div class="item">
        TypeKey: <span selectable>{{deviceType}}</span>
      </div>
      <div class="item">密钥:
        <span *ngIf="!authKey" (click)="showAuthKey()">************ <i class="fal fa-eye"></i></span>
        <span *ngIf="authKey" selectable>{{authKey}}</span>
      </div>
    </div>
  </div>

  <b-item-list *ngIf="prodevice">
    <b-item showArrow="true" [routerLink]="[ '/devcenter/prodevice/editinfo',deviceType]">
      编辑信息
    </b-item>
    <b-item showArrow="true" [routerLink]="[ '/devcenter/prodevice/editlayouter', deviceType ]"
      *ngIf="prodevice.component=='Layouter2'">
      编辑界面（Layouter2）
    </b-item>
    <b-item showArrow="true" [routerLink]="[ '/devcenter/prodevice/public', deviceType ]">
      正式上线
    </b-item>
    <b-item showArrow="true" (click)="showDelWarn()">
      <div style="color: #f00000;">删除设备</div>
    </b-item>
  </b-item-list>
</ion-content>