<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>专属设备详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infobox" *ngIf="prodevice">
    <div class="imgbox" (click)="selectIcon()">
      <img src="assets/img/devices/icon/{{prodevice.image}}" onError="this.src='assets/img/devices/unknown.png'" />
      <div class="uploadimg">更改图标</div>
    </div>
    <div class="itembox">
      <div class="item">提供者:<span>{{prodevice.vender}}</span></div>
      <div class="item" (click)="changeName()">设备名:<span>{{prodevice.name}}</span><i class="fal fa-pencil"></i>
      </div>
      <div class="item">
        接入方式: <span *ngIf="prodevice.mode=='mqtt'">WiFi（MQTT）</span>
      </div>
      <div class="item">
        TypeKey: <span selectable>{{deviceType}}</span>
      </div>
      <div class="item">密钥:
        <span *ngIf="!authKey" (click)="showAuthKey()">************ <i class="fal fa-eye"></i></span>
        <span *ngIf="authKey" selectable>{{authKey}}</span>
      </div>
    </div>
  </div>

  <div class="menubox">
    <div class="item" [routerLink]="[ '/devcenter/prodevice/editinfo', deviceType ]">
      <div class="name">编辑信息</div>
      <div class="arrow">
        <img src="assets/img/icon/arrow.png">
      </div>
    </div>
    <div class="item" [routerLink]="[ '/devcenter/prodevice/editlayouter', deviceType ]">
      <div class="name">编辑界面（Layouter2）</div>
      <div class="arrow">
        <img src="assets/img/icon/arrow.png">
      </div>
    </div>
    <div class="item" [routerLink]="[ '/devcenter/prodevice/editspeech', deviceType ]">
      <div class="name">语音配置</div>
      <div class="arrow">
        <img src="assets/img/icon/arrow.png">
      </div>
    </div>
    <div class="item" [routerLink]="[ '/devcenter/prodevice/edittimer', deviceType ]">
      <div class="name">定时配置</div>
      <div class="arrow">
        <img src="assets/img/icon/arrow.png">
      </div>
    </div>
    <div class="item" [routerLink]="[ '/devcenter/prodevice/public', deviceType ]">
      <div class="name">正式上线</div>
      <div class="arrow">
        <img src="assets/img/icon/arrow.png">
      </div>
    </div>
    <div class="item" (click)="showDelWarn()">
      <div class="name">删除设备</div>
      <div class="arrow">
        <img src="assets/img/icon/arrow.png">
      </div>
    </div>
  </div>

  <!-- <div textcenter-temp>您也可以在PC上访问blinker控制台(https://admin.diandeng.tech/)进行以上操作</div> -->
</ion-content>