layout2text {
    .textbox {
        align-items: flex-start !important;
        flex-direction: column;
        justify-content: center;
        padding: 0 10%;
    }
    .title {
        // width: 85%;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
    }
    .title-self {
        align-self: center;
    }
    .content {
        // width: 85%;
        font-size: 12px;
        color: #898989;
    }
    .textbox2 {
        .title {
            font-size: 18px;
            margin-bottom: 3%;
            width: 100%;
        }
    }
}