<div device-bg [ngClass]="{'on': switch}"></div>
<div device-box [ngClass]="{'off': !switch}">
    <div class="btn-gounp">
        <div btn [ngClass]="{'selected':tab==0}" (click)="changeTab(0)">
            <div class="icon">
                <i class="fal fa-power-off"></i>
            </div>
            开关
        </div>
        <div btn [ngClass]="{'selected':tab==4}" (click)="changeTab(4)">
            <div class="icon">
                <i class="fal fa-bolt"></i>
            </div>
            统计
        </div>
    </div>
    <div *ngIf="tab==0" class="switch-tab">
        <div class="plugbox">
            <div class="power">
                <ng-container *ngIf="power&&switch">
                    实时功率：<span>{{power}}W</span>
                </ng-container>
            </div>
            <div class="plug">
                <div socketbox socketbox1>
                    <div socket socket1></div>
                    <div socket socket1></div>
                    <div socket socket1></div>
                </div>
                <div socketbox socketbox2>
                    <div socket socket2></div>
                    <div socket socket3></div>
                </div>
            </div>
        </div>
        <div class="switchbox" (click)="turnSwitch()">
            <div class="switch" [ngClass]="{'on': switch}">
                <i class="fal fa-power-off"></i>
            </div>
        </div>
    </div>
    <div *ngIf="tab==4" class="chart-tab">
        <div class="title-box">功率记录</div>
        <b-chart [device]="device" [key]="'power'" [style]="'white'"></b-chart>
        <div class="title-box">电量记录</div>
        <b-chart [device]="device" [key]="'cspt'" [style]="'white'"></b-chart>
    </div>
</div>