speech-button {
    .speech-button {
        background: linear-gradient( #29C2F7, #389BEE);
        margin: 0;
        width: 18vw;
        height: 18vw;
        border-radius: 50%;
        font-size: 25px;
        padding: 0;
        img {
            width: 40%;
        }
    }
}