<div layout-box class="color-box">
  <div class="content">
    <span>{{t0}}</span>
  </div>
  <div class="colorpicker">
    <!-- <img src="assets/img/layout/colorpick.png"> -->
    <canvas #myCanvas></canvas>
    <div class="knob" #knob></div>
    <div class="pickerbox" #pickerbox>
      <div class="picker" #picker></div>
    </div>
  </div>
  <div class="brightness">
      <i class="fal fa-minus"></i>
      <b-slider [value]="brightness" [disabled]="layouter.editMode" [max]="255" [color]="rgbStr" (update)="valueChange($event)" (sendData)="sendData($event)"></b-slider>
      <i class="fal fa-plus"></i>
  </div>
</div>
<div *ngIf="layouter.editMode && key" layout-key>{{key}}</div>