@if (loaded && device) {
<ion-header>
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home/device"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="enterDebug()">
      <div class="name">{{device.config.customName}}</div>
      <div
        class="state"
        [ngClass]="{'showState': device.data.state!='waiting'}"
      >
        @if (device.config.mode=='ble') { @if ((device.data.state=='connected')
        || (device.data.oldState=='connected' && device.data.state=='waiting'))
        { ({{'DEVICE.CONNECTED' | translate}}) } @if
        (device.data.state=='disconnected') { ({{'DEVICE.NOT_CONNECTED' |
        translate}}) } } @if (device.config.mode=='mqtt') { @if
        (device.data.enable) { ({{'DEVICE.ONLINE' | translate}}) @if
        (deviceService.islocalDevice(device)) {
        <i class="fal fa-exchange"></i>
        } @if (!deviceService.islocalDevice(device)) {
        <i class="fal fa-cloud"></i>
        } } @else { ({{'DEVICE.OFFLINE' | translate}}) }
        <ng-template #offline> ({{'DEVICE.OFFLINE' | translate}}) </ng-template>
        }
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <!-- 连接 -->
      @if (!editMode && device.data.state=='disconnected') {
      <ion-button (click)="connectDevice()">
        <i class="fal fa-link"></i>
      </ion-button>
      }
      <!-- 设置 -->
      @if (!editMode) {
      <ion-button [routerLink]="['/device-manager',id]">
        <i class="fa-light fa-circle-ellipsis"></i>
        @if (device.data.hasNewVersion) {
        <div redpoint></div>
        }
      </ion-button>
      }
      <!-- 清空布局器 -->
      @if (editMode && deviceComponent.indexOf('Layouter')>-1) {
      <ion-button (click)="cleanWidgets()">
        <i class="fa-light fa-trash-can"></i>
      </ion-button>
      }
      <!-- 编辑/保存 -->
      @if (!editMode && canEditLayout) {
      <ion-button (click)="unlock()">
        <i class="fa-light fa-pen-to-square"></i>
      </ion-button>
      } @if (editMode && deviceComponent.indexOf('Layouter')>-1) {
      <ion-button (click)="lock()">
        <i class="fa-light fa-lock"></i>
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
} @if (loaded && device) {
<ion-content
  [fullscreen]="true"
  [ngClass]="{'offline': device.data.state=='offline'}"
  [scrollY]="false"
>
  <div class="device-view">
    <ng-template #deviceView></ng-template>
  </div>
  @if (editMode && deviceComponent.indexOf('Layouter') > -1) {
  <div slot="fixed" class="animated slideInUp faster layouter-bar">
    <widget-listbar></widget-listbar>
  </div>
  }
  <!-- <router-outlet></router-outlet> -->
</ion-content>
} @if (loaded && !device) {
<ion-content>
  <div class="device-not-found">
    <i class="fa-light fa-circle-exclamation"></i>
    <h1>未找到设备</h1>
    <p>设备可能已被删除，或登录数据尚未加载完成。</p>
    <a routerLink="/home/device">返回设备列表</a>
  </div>
</ion-content>
}
