<div class="scroll">
  <div class="block-box">
    <div class="block" *ngFor="let deviceId of deviceDataList;index as i" [ngClass]="{'selected':selectedDeviceIndex==i}" (click)="selectDevice(i,deviceDataDict[deviceId])">
      <img class="block-img" src="assets/img/devices/icon/{{deviceDataDict[deviceId].config.image}}" onError="this.src='assets/img/devices/unknown.png'" />
      <div class="h-line"></div>
      <div class="block-text">
        <span>
          {{deviceDataDict[deviceId].config.customName}}
        </span>
      </div>
      <img *ngIf="deviceDataDict[deviceId].config.mode=='ble'" class="mode" src="assets/img/icon/ble.png" />
      <img *ngIf="deviceDataDict[deviceId].config.mode=='net'" class="mode" src="assets/img/icon/wifi.png" />
      <img *ngIf="deviceDataDict[deviceId].config.mode=='mqtt'" class="mode" src="assets/img/icon/mqtt.png" />
    </div>
  </div>
</div>