<div class="scroll">
  <div class="block-box">
    <div class="block" *ngFor="let deviceId of deviceDataList;index as i"
      [ngClass]="{'selected':selectedDeviceIndex==i}" (click)="selectDevice(i,deviceDataDict[deviceId])">
      <b-device-img [deviceId]="deviceId"></b-device-img>
      <div class="h-line"></div>
      <div class="block-text">
        <span>
          {{deviceDataDict[deviceId].config.customName}}
        </span>
      </div>
      <img *ngIf="deviceDataDict[deviceId].config.mode=='ble'" class="mode" src="assets/img/icon/ble.png" />
    </div>
  </div>
</div>