<ion-header whitebg>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-menu-button><i class="iconfont icon-menu"></i></ion-menu-button>
    </ion-buttons>
    <!-- <div class="searchbox">
      <div class="search">
        <i class="fal fa-search"></i>
        <div class="text">
          搜索设备
        </div>
      </div>
    </div> -->
    <ion-buttons slot="end">
      <ion-button [routerLink]="[ '/adddevice']">
        <i class="iconfont icon-add-circle"></i>
      </ion-button>
      <ion-button (click)="changeView()">
        <i class="iconfont icon-view"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen scrollY=false>
  <div class="mapbox">
    <div class="mapview" #mapView></div>
  </div>
  <div class="sidebar">
    <div class="item" (click)="switchHeatmap()">
      <i class="iconfont icon-heat" [ngStyle]="{'color': heatmap?'#F25814':''}"></i>
      热力图
    </div>
    <div class="h-line"></div>
    <div class="item" (click)="refresh()">
      <i class="iconfont icon-refresh" [ngClass]="{'waiting': waiting}"></i>
      刷新
    </div>
  </div>
  <map-info-bar *ngIf="selectedDevice" [device]="selectedDevice">
  </map-info-bar>
</ion-content>