<!-- <div class="loop-tab" *ngIf="!device.data.loop">
  <div class="loopbox">
    <div class="loopitem">
      <div action>{{loopData.act1 | objToStr}}</div>
      <div clock>{{loopData.dur1 | minuteToTime}}</div>
    </div>
    <div class="exchange" (click)="exchange()">
      <i class="fal fa-exchange"></i>
    </div>
    <div class="loopitem">
      <div action>{{loopData.act2 | objToStr}}</div>
      <div clock>{{loopData.dur2 | minuteToTime}}</div>
    </div>
  </div>
  <div>
    <div class="settingbox">
      <div class="title">选择执行动作</div>
      <layout2button-list [device]="device" [maxAct]=2 (update)="countdownActChange($event)"></layout2button-list>
    </div>
    <div class="settingbox">
      <div class="title">设定持续时间</div>
      <div class="timebox" (click)="showTimePicker()">
        <span class="time">
          {{timeInfo}}
        </span>
        <div class="arrow">
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="countdown-tab" *ngIf="device.data.loop"> -->
<div class="loop-tab" *ngIf="loaded">
  <div class="paddingbox">
    <div item class="loopbox">
      <div>
          <div action>开启</div>
          <div clock>00:00</div>
      </div>
      <div>
          <div action>关闭</div>
          <div clock>00:00</div>
      </div>
      <div>
        已循环：3次
      </div>
    </div>
  </div>
  <div class="btns">
    <div (click)="cancelLoop()" btn class="cancel animated fadeIn">取消</div>
    <div (click)="pauseCountdown()" btn class="pause animated fadeIn">暂停</div>
    <div *ngIf="device.data.loop.run==1" (click)="pauseCountdown()" btn class="pause animated fadeIn">暂停</div>
    <div *ngIf="device.data.loop.run==0" (click)="continueCountdown()" btn class="continue animated fadeIn">继续</div>
  </div>
</div>