[imgbox] {
    height: 100%;
    background-color: black;
}

.footer-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    font-size: 15px;
    background-color: #fff;
    padding: 30px;
}
