layout2button {
    .btnbox {
        padding: 0.5rem;
        display: flex;
        align-items: center; // justify-content: center;
        justify-content: center;
        transition: all 0.1s;
        color: #959595;
        width: 100%;
        height: 100%;
    }
    .btnbox2 {
        justify-content: space-between;
        margin-left: 3px;
    }
    .btnbox3 {
        flex-direction: column;
        justify-content: center;
    }
    .btnbox:active {
        border-radius: 4px;
        transform: scale(0.95, 0.95);
    }
    .round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0E0E0;
        font-size: 20px;
    }
    .round2 {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0E0E0;
        height: 60%;
        width: 60%;
        font-size: 28px;
    }
    .content {
        font-size: 12px;
        width: 60%;
        text-align: center;
    }
    .content2 {
        width: 90%;
    }
    .content3 {
        position: absolute;
        text-align: center;
        bottom: 5%;
    }
    .capsule {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0E0E0;
        border-radius: 12.5px;
        width: 100%;
        height: 25px;
        font-size: 12px;
    }
    .text-in-btn {
        padding: 10px 5px 10px 5px;
    }
    .capsule2 {
        // margin-bottom: 10px;
        height: 35px;
        border-radius: 17.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0E0E0;
        width: 100%;
        font-size: 12px;
    }
    .toggle-box {
        position: relative;
        border: 1px solid #959595;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0E0E0;
        border-radius: 13.5px;
        width: 100%;
        height: 25px;
        font-size: 12px;
        transition: all 0.3s;
        .toggle-inner {
            border-radius: 50%;
            background: #fff;
            height: 21px;
            width: 21px;
            position: absolute;
            transition: all 0.3s;
        }
        .on {
            right: 1px;
        }
        .off {
            right: calc( 100% - 22px ); 
        }
    }
    .toggle-box-off{
        background-color: #E0E0E0 !important;
    }
}