layout2joystick {
    .joyout {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85%;
        width: 85%;
    }
    .joyin {
        position: absolute;
        height: 85%;
        width: 85%;
        .stick {
            position: absolute;
            height: 45%;
            width: 45%;
            top: 0;
            left: 0;
        }
    }
    .touch {
        height: 85%;
        width: 85%;
        border-radius: 50%;
        z-index: 9;
    }
}