.box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    width: calc(100% - 30px);
    color: #444;
    position: relative;
    margin-bottom: 10px;
    padding: 15px;

    .item-box {
        margin-top: 15px;

        .item {
            height: 60px;
            border-top: 1px solid #DDD;
            display: flex;
            align-items: center;

            b-device-img {
                width: 45px;
                height: 45px;
            }

            .text {
                font-size: 13px;

                .name {}

                .desp {
                    margin-top: 3px;
                    color: #999;
                }
            }

            .del-btn {
                position: absolute;
                right: 15px;
                padding: 15px;
                color: #389BEE;
            }
        }
    }

    .add-btn {
        padding-top: 15px;
        border-top: 1px solid #CCC;
        color: #389BEE;
        font-size: 13px;
        text-align: center;
    }

    .changeMode {
        position: absolute;
        font-size: 13px;
        top: 16px;
        right: 15px;
        color: #389BEE;
    }
}

.title {
    font-size: 14px;
    font-weight: 600;
}

b-device-img {
    margin-right: 10px;
}

.top-box {
    border-radius: 0 0 8px 8px;
    padding-top: 0;

    .desp-box {
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
        font-weight: 600;
        text-align: center;
        color: #389BEE;
    }
}

.time-box {
    padding-top: 10px;
    // height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
    position: relative;

    .left-box {
        // position: absolute;
        // top: 0;
        // left: 15px;
        // height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-box {
        color: #389BEE;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .range {
            font-size: 15px;
            margin-left: 15px;
            font-weight: 600;
        }

        .days {
            span {
                margin-left: 5px;
            }
        }
    }


}