@use '../../editor-page';

.scene-icon {
  background: linear-gradient(145deg, #8e9dff, #5967df);
  box-shadow: 0 9px 20px rgba(89, 103, 223, 0.25);
}

.delay-icon {
  color: #6875e8;
  background: rgba(104, 117, 232, 0.1);
}
