<div widget class="tabsbox">
  <!-- <ng-container *ngFor="let tab of tabs">
    <div class="tab" (click)="selectTab(tab)">
      <i class="{{tab.ico}}" [ngStyle]="{'color': color}"></i>
      <div class="content" overflow>{{tab.txt}}</div>
    </div>
  </ng-container> -->
  <div *ngIf="ico" class="tab" (click)="selectTab(0)">
    <i class="{{ico}}" [ngStyle]="{'color': val?color:''}"></i>
    <div class="content" overflow>{{t0}}</div>
  </div>
  <div *ngIf="ico1" class="tab" (click)="selectTab(1)">
    <i class="{{ico1}}" [ngStyle]="{'color': val1?color:''}"></i>
    <div class="content" overflow>{{t1}}</div>
  </div>
  <div *ngIf="ico2" class="tab" (click)="selectTab(2)">
    <i class="{{ico2}}" [ngStyle]="{'color': val2?color:''}"></i>
    <div class="content" overflow>{{t2}}</div>
  </div>
  <div *ngIf="ico3" class="tab" (click)="selectTab(3)">
    <i class="{{ico3}}" [ngStyle]="{'color': val3?color:''}"></i>
    <div class="content" overflow>{{t3}}</div>
  </div>
  <div *ngIf="ico4" class="tab" (click)="selectTab(4)">
    <i class="{{ico4}}" [ngStyle]="{'color': val4?color:''}"></i>
    <div class="content" overflow>{{t4}}</div>
  </div>
</div>