ion-header.dark {
  ion-toolbar {
    ion-title {
      color: #fff;
    }

    ion-back-button {
      --color: #fff;
    }

    ion-icon {
      color: #fff;
    }

    i {
      color: #fff;
    }
  }
}

ion-header.light {
  ion-toolbar {
    ion-title {
      color: #000;
    }

    ion-back-button {
      --color: #000;
    }

    ion-icon {
      color: #000;
    }

    i {
      color: #000;
    }
  }
}

ion-header {
  ion-toolbar {
    ion-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .name {
        font-size: 15px;
      }

      .state {
        font-size: 10px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        i {
          margin-left: 3px;
        }
      }
    }

    ion-buttons {
      ion-button {
        width: 2.2rem;

        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}

ion-content {
  transition: filter 1s;

  ::ng-deep {
    [device-box] {
      height: 100%;
    }
  }
}

ion-content.offline {
  filter: grayscale(30%);
}

[redpoint] {
  top: 6px;
  right: 6px;
}