<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>共享管理</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="btnbox">
    <div class="btn" [ngClass]="{'selected': tab==0}" (click)="changeTab(0)">
      共享
    </div>
    <div class="btn" [ngClass]="{'selected': tab==1}" (click)="changeTab(1)">
      接受
    </div>
  </div>
  <ng-container *ngIf="loaded">

    <ng-container *ngIf="tab==0">
      <ng-container *ngFor="let deviceId of deviceDataList">
        <ng-container *ngIf="!isSharedDevice(deviceId)">
          <div class="item" [routerLink]="['/share-manager',deviceId]">
            <img src="assets/img/devices/icon/{{deviceDataDict[deviceId].config.image}}">
            <div class="namebox">
              <div class="name">{{deviceDataDict[deviceId].config.customName}}</div>
              <div class="act" *ngIf="!shareData.share[deviceId]">未共享</div>
              <ng-container *ngIf="shareData.share[deviceId]">
                <div class="act" *ngIf="shareData.share[deviceId].length>0">已与 {{shareData.share[deviceId].length}}
                  位用户共享</div>
              </ng-container>
            </div>
            <div class="arrow">
              <img src="assets/img/icon/arrow.png">
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="tab==1">
      <div class="noshared animated fadeIn" textcenter
        *ngIf="shareData.shared.length==0 && shareData.shared0.length==0">
        无已共享的设备
      </div>
      <ng-container *ngFor="let item of shareData.shared0;index as i">
        <div class="item" [ngClass]="{'animated zoomOut': i==shared0Selected1}">
          <img src="assets/img/devices/icon/{{item.image}}">
          <div class="namebox">
            <div class="name">{{item.customName}}</div>
            <div class="act">来自 {{item.master}}</div>
          </div>
          <div class="btn accept" [ngClass]="{'animated fadeOut': i==shared0Selected0}" (click)="accept(item.taskId,i)">
            接受
          </div>
          <div class="btn refuse" [ngClass]="{'animated fadeOut': i==shared0Selected0}" (click)="refuse(item.taskId,i)">
            取消
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of shareData.shared;index as i">
        <div class="item" [ngClass]="{'animated zoomOut': i==sharedSelected}">
          <img src="assets/img/devices/icon/{{item.image}}">
          <div class="namebox">
            <div class="name">{{item.customName}}</div>
            <div class="act">来自 {{item.master}}</div>
          </div>
          <div class="btn cancel" (click)="cancel(item.deviceName,i)">
            取消共享
          </div>
        </div>
      </ng-container>
    </ng-container>

  </ng-container>
</ion-content>