.tab-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #389bee;
  margin-top: -10px;

  .btn {
    color: white;
    opacity: 0.6;
    padding: 10px 15px;
  }

  .selected {
    opacity: 1;
  }
}

b-item {
  .accept {
    right: 0 !important;
    padding: 20px 20px 20px 10px;
  }

  .refuse {
    right: 60px !important;
    padding: 20px 10px 20px 20px;
  }

  .cancel {
    right: 0 !important;;
    padding: 20px;
    width: auto;
  }
}

.noshared {
  color: #8e8e8e;
  padding-top: 20px;
  font-size: 14px;
}
