.scrollHeight {
    height: 140px;
    position: relative;
    overflow: auto;
    z-index: 0;
    padding: 5px;

    .widgetitem {
        margin: auto 10px;
        position: relative;
        background-color: #fff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
}


[demo-box] {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0 15px;

    .selected {
        box-shadow: 0 0 5px 3px rgba(60, 150, 255, 0.8) !important;
    }
}

.scale {
    transform: scale(0.7);
    transform-origin: left top;
    padding-top: 5px;
}
