<div class="app-container" [ngClass]="{ 'pc-mobile-view': isPcBrowser }">
  <ion-app [ngClass]="{ pwa: isPWA }">
    <ion-router-outlet
      [swipeGesture]="swipeEnable"
      [animation]="routerAnimation"
    ></ion-router-outlet>
    <div class="notice-stack">
      @for (tip of tipList; track tip) {
      <b-tip [tip]="tip"></b-tip>
      }
      @for (toast of toastList; track toast) {
      <b-toast [toast]="toast"></b-toast>
      }
    </div>
  </ion-app>
  <audio autoplay="autoplay" #audio></audio>
</div>
