<div layout-box class="box">
    <div class="header">
        <span>DEBUG</span>
        <i class="fal fa-trash-alt" (click)="clear()"></i>
    </div>
    <div class="display" (click)="showInputBox()">
        <ion-scroll #scrollContainer scrollzone scrollY="true">
            <div class="textzone" [innerHTML]="data | layoutPipe">
            </div>
        </ion-scroll>
    </div>
    <div *ngIf="showInput" class="send-box">
        <div class="send">
            <input input-zone type="text" [(ngModel)]="sendmess">
            <div class="btn" (tap)="send()">
                <ion-icon name="md-arrow-round-up"></ion-icon>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="layouter.editMode" layout-key>{{key}}</div> -->