<ng-container *ngIf="isDiy">
  <widget-buttonlist [device]="device" (update)="updateSelectedAction($event)"></widget-buttonlist>
</ng-container>
<ng-container *ngIf="!isDiy">
  <div class="scrollHeight">
    <div class="cmd-box" demo-box>
      <ng-container *ngFor="let item of cmdList;index as i">
        <div class="cmd-item" demo-item (click)="updateSelectedAction([item.act])"
          [ngClass]="{'selected':selectedItem == item.act}">
          {{item.cmd}}
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>