.scrollHeight {
    height: 140px;
    position: relative;
    overflow: auto;
    z-index: 0;
    padding: 5px;

}

[demo-box] {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0 15px;
    height: 130px;

    [demo-item] {
        margin-right: 2vw;
        box-shadow: 0 0 10px #0000001f;
        border-radius: 5px;
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 130px;

        widget-dynamic {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }

    .selected {
        box-shadow: 0 0 5px 3px rgba(60, 150, 255, 0.8) !important;
    }
}