<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="name">AP配网</div>
      <!-- <div class="state"
        [ngClass]="{'showState': device.data.state=='offline'||device.data.state=='online'||device.data.state=='connected'||device.data.state=='disconnected'}"> -->
      <div class="state" [ngClass]="{'showState': isConnecting}">
        <ng-container *ngIf="isConnecting;else completed">网络连接中...</ng-container>
        <ng-template #completed></ng-template>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div flex-box>
    <div class="box">
      1.确保设备已进入等待配置状态<br>
      2.输入WiFi密码，并点击开始配置
    </div>
    <div class="box mt10">
      <div style="color:rgb(255, 95, 95);" *ngIf="is5G">该设备暂不支持5G WiFi</div>
      <div class="item">
        <div class="title">WiFi 名称</div>
        <input type="text" [(ngModel)]="myssid" disabled>
      </div>
      <div class="item">
        <div class="title">WiFi 密码</div>
        <input class="password" type="{{pwshow?'text':'password'}}" [(ngModel)]="mypasswd">
        <i class="iconfont" [ngClass]="{'icon-eye-open': pwshow,'icon-eye-close':!pwshow}" (click)="showPassword()"></i>
      </div>
      <div class="savepw">
        <div class="savepw2" (click)="clickSavePassword()">
          <div class="checkbox" [ngClass]="{'selected': savePassword}">
            <i class="fal fa-check"></i>
          </div>
          <div>记住密码</div>
        </div>
      </div>
      <button fullbtn (click)="startConfig()">开始配置</button>
      <div textcenter (click)="openWifiSetting()">选择其他WiFi</div>
    </div>
  </div>
</ion-content>