.blinker-tip {
  &.tip-error {
    --notice-accent: var(--ion-color-danger);
  }

  &.tip-warn {
    --notice-accent: var(--ion-color-warning);
  }

  &.tip-success {
    --notice-accent: var(--ion-color-success);
  }

  &.tip-info {
    --notice-accent: var(--ion-color-primary);
  }

  .notice-message {
    color: var(--blinker-text-primary);
    font-size: 13px;
    font-weight: 560;
  }
}

.tip-icon i {
  font-size: 19px;
}
