<ion-header whitebg class="main-tab-header profile-header">
  <ion-toolbar>
    <ion-title>用户中心</ion-title>
    <ion-buttons slot="end">
      <ion-button class="header-action" aria-label="消息中心" (click)="goto('/message')">
        <i class="fa-light fa-message-dots"></i>
        <span class="notice-dot"></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div slot="fixed" class="top-scroll-mask" aria-hidden="true"></div>

  <div class="profile-content">
    <button type="button" class="user-info" (click)="goto('/user')">
      <div class="avatar">
        @if (avatar) {
        <img [src]="avatar" alt="用户头像" />
        } @else {
        <span>{{ userName.slice(0, 1) }}</span>
        }
      </div>
      <div class="info">
        <div class="name">{{ userName }}</div>
        <div class="membership">Pro Plan ( 2026/12/1 过期 )</div>
      </div>
      <i class="fa-light fa-chevron-right profile-arrow"></i>
    </button>

    @for (menuGroup of menuGroups; track menuGroup.id) {
    <app-menu-list [ariaLabel]="menuGroup.ariaLabel" [items]="menuGroup.items"
      (itemSelected)="selectMenuItem($event)"></app-menu-list>
    }

    <div class="profile-version">
      <span>版本 {{ currentVersion || '2.4.1' }}</span>
      @if (showNewVersion) {
      <span class="version-dot"></span>
      }
    </div>

  </div>
</ion-content>