<ion-header whitebg>
  <ion-toolbar>
    <ion-title>我的</ion-title>
    <ion-buttons slot="end">
      <blinker-lang-selector></blinker-lang-selector>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div class="profile-content">
    <!-- 用户信息 -->
    @if (loaded) {
    <div class="user-info" (click)="goto('/user')">
      <div class="avatar">
        @if (user?.avatar) {
        <img [src]="user.avatar" alt="avatar" />
        } @if (!user?.avatar) {
        <i class="fa-light fa-user-astronaut"></i>
        }
      </div>
      <div class="info">
        <div class="name">{{ user?.username || '用户' }}</div>
        <div class="device-num">
          {{ deviceNum }} {{'MENU.DEVICE_NUM' | translate}}
        </div>
      </div>
      <div class="arrow">
        <i class="fa-light fa-chevron-right"></i>
      </div>
    </div>
    }

    <!-- 菜单列表 -->
    <div class="menu-list">
      @for (item of menuList; track item) {
      <div
        class="menu-item"
        [ngClass]="{'disabled': item['disabled']}"
        (click)="goto(item.url, item['disabled'])"
      >
        <div class="icon">
          <i class="{{item.icon}}"></i>
        </div>
        <div class="title">{{item.title2 | translate}}</div>
        <div class="arrow">
          <i class="fa-light fa-chevron-right"></i>
        </div>
      </div>
      }
    </div>

    <!-- 版本信息 -->
    <div class="version" (click)="checkCodePush()">
      <span>{{'MENU.VERSION' | translate}} {{currentVersion}}</span>
      @if (showNewVersion) {
      <img class="cue" src="img/new.png" />
      }
    </div>
  </div>
</ion-content>
