<ion-header class="main-tab-header">
  <ion-toolbar>
    <ion-title>{{ 'PROFILE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="header-action"
        [attr.aria-label]="'PROFILE.MESSAGE_CENTER' | translate"
        (click)="goto('/message')"
      >
        <i class="fa-light fa-message-dots"></i>
        <span class="notice-dot"></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div slot="fixed" class="top-scroll-mask" aria-hidden="true"></div>

  <div class="profile-content">
    <button type="button" class="user-info" (click)="goto('/user')">
      <div class="avatar">
        @if (avatar) {
        <img [src]="avatar" [alt]="'PROFILE.USER_AVATAR' | translate" />
        } @else {
        <span>{{ userName.slice(0, 1) }}</span>
        }
      </div>
      <div class="info">
        <div class="name">{{ userName }}</div>
        @if (planSummary) {
          <div class="membership">
            {{ planSummary }}
          </div>
        }
      </div>
      <i class="fa-light fa-chevron-right profile-arrow"></i>
    </button>

    @for (menuGroup of menuGroups; track menuGroup.id) {
    <app-menu-list [ariaLabel]="menuGroup.ariaLabel" [items]="menuGroup.items"
      (itemSelected)="selectMenuItem($event)"></app-menu-list>
    }

    <div class="profile-version">
      <span>
        {{
          'PROFILE.VERSION'
            | translate: { version: currentVersion || '2.4.1' }
        }}
      </span>
      @if (showNewVersion) {
      <span class="version-dot"></span>
      }
    </div>

  </div>
</ion-content>
