.logo {
    height: 15vh;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

    img {
        height: 40px;
    }
}

.text {
    padding: 15px;
    min-height: 50vh;
    text-indent:2em;
    line-height: 1.7em;
}

.telephone {
    color: #FFF;
    font-size: 18px;
    position: relative;

    a {
        width: 100%;
        padding: 5px;
        color: #FFF !important;
        text-decoration: none;
    }

    span {
        margin-left: 15px;
    }
}