<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'MENU.ABOUT_US' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- logo -->
  <div class="logo">
    <img class="logo" src="{{LOGO}}">
  </div>
  <!-- 企业介绍 -->
  <div class="text">
    {{ABOUT_US}}
  </div>
  <button class="telephone" fullbtn>
    <a href="tel:{{TELEPHONE}}">
      <i class="fal fa-phone-office"></i>
      <span>{{'ABOUT_US.CONTACT_US' | translate}}</span>
    </a>
  </button>
  <!-- 联系电话 -->
  <div class="other">
    <div>
      <span text (click)="openUrl(USER_AGREEMENT,'用户协议')">
        {{'ACCOUNT.USER_AGREEMENT' | translate}}
      </span>
      &
      <span text (click)="openUrl(PRIVACY_POLICY,'隐私政策')">
        {{'ACCOUNT.PRIVACY_POLICY' | translate}}
      </span>
    </div>
  </div>
</ion-content>