@use "../repeat-selector-modal/repeat-selector-modal.component.scss";
@use "../modern-selector";

.select-modal {
    padding-inline: 12px;
}

.item-list {
    height: auto;

    .item {
        min-height: 54px;
    }
}
