<div class="box">
    <div class="info">
      <div class="id"><i class="fal fa-file-alt"></i> {{id}}</div>
      <div class="gps"><i class="fal fa-map-marker-alt"></i> {{geolocation}}</div>
    </div>
    <div class="box1">
      <div class="indexbox">
        <div class="title">环境空气质量综合指数</div>
        <div class="index">
          {{device.data.aqi}}
        </div>
        <div class="explain">轻度污染</div>
      </div>
      <div class="list1">
        <div class="item" *ngFor="let item of dataList1">
          <div class="valuebox">
            <div class="value">{{device.data[item.key]}}</div>
            <div class="unit">{{item.unit}}</div>
          </div>
          <div class="name">
            {{item.name}}
          </div>
        </div>
      </div>
    </div>

    <div class="title">主要污染物</div>
    <div class="list2">
      <div class="item" *ngFor="let item of dataList2">
        <img src="assets/img/devices/airstation/{{item.icon}}">
        <div class="inner">
          <div class="valuebox">
            <div class="value">{{device.data[item.key]}}</div>
            <div class="unit">{{item.unit}}</div>
          </div>
          <!-- <div class="namebox"> -->
            <div class="name">{{item.name}}</div>
            <!-- <div class="zh">{{item.zh}}</div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="hline"></div>
    <div class="title">历史数据</div>
    <div>
    </div>
    <canvas class="chart" #chart id="myChart"></canvas>
    <div class="statisbox">
      <div>最小值</div>
      <div>最大值</div>
      <div>平均值</div>
    </div>
  </div>