<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{tempRoomName}} 设置</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-hero-card>
    <div class="roomname" (click)="changeRoomName()">
      {{tempRoomName}}
    </div>
  </app-hero-card>

  <div class="title" *ngIf="currentRoomData.length != 0">房间中的设备</div>
  <app-menu-list>
    <app-menu-item *ngFor="let deviceId of currentRoomData" (click)="delDevice(deviceId)">
      <div class="img-box">
        <b-device-img [deviceId]="deviceId"></b-device-img>
      </div>
      <div class="text-box">
        <div class="name">{{deviceDataDict[deviceId].config.customName}}</div>
        <div class="other">{{deviceId}}</div>
      </div>
      <div class="btn-box">
        <ion-icon name="close-outline"></ion-icon>
      </div>
    </app-menu-item>
  </app-menu-list>
  <div class="title">可添加的设备</div>
  <app-menu-list>
    <ng-container *ngFor="let deviceId of deviceDataList">
      <app-menu-item (click)="addDevice(deviceId)" *ngIf="!isExist(deviceId)">
        <div class="img-box">
          <b-device-img [deviceId]="deviceId"></b-device-img>
        </div>
        <div class="text-box">
          <div class="name">{{deviceDataDict[deviceId].config.customName}}</div>
          <div class="other">{{deviceId}}</div>
        </div>
        <div class="btn-box">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </app-menu-item>
    </ng-container>
  </app-menu-list>
</ion-content>
