<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{tempRoomName}} 设置</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <b-top-box>
    <div class="roomname" (click)="changeRoomName()">
      {{tempRoomName}}
    </div>
  </b-top-box>

  <div class="title" *ngIf="currentRoomData.length != 0">房间中的设备</div>
  <b-item-list>
    <b-item *ngFor="let deviceId of currentRoomData" (click)="delDevice(deviceId)">
      <div class="img-box">
        <b-device-img [deviceId]="deviceId"></b-device-img>
      </div>
      <div class="text-box">
        <div class="name">{{deviceDataDict[deviceId].config.customName}}</div>
        <div class="other">{{deviceId}}</div>
      </div>
      <div class="btn-box">
        <ion-icon name="close-outline"></ion-icon>
      </div>
    </b-item>
  </b-item-list>
  <div class="title">可添加的设备</div>
  <b-item-list>
    <ng-container *ngFor="let deviceId of deviceDataList">
      <b-item (click)="addDevice(deviceId)" *ngIf="!isExist(deviceId)">
        <div class="img-box">
          <b-device-img [deviceId]="deviceId"></b-device-img>
        </div>
        <div class="text-box">
          <div class="name">{{deviceDataDict[deviceId].config.customName}}</div>
          <div class="other">{{deviceId}}</div>
        </div>
        <div class="btn-box">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </b-item>
    </ng-container>
  </b-item-list>
</ion-content>