.roomname {
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #389bee;
}

.title {
    padding-left: 15px;
    color: #959595;
}

// b-item-list {
//     ::ng-deep {
//         .item-box {
//             padding-bottom: 10px;
//         }
//     }
// }