<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goto('/message')">
        <i class="fal fa-envelope"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollY=false>
  <div class="menubox">
    <!-- <div class="headerbox">
    <div class="title">
    </div>
    <div class="mail" (click)="goto('/message')">
      <i class="fal fa-envelope"></i>
    </div>
  </div> -->
    <div class="userbox" *ngIf="loaded" (click)="goto('/user')">
      <div class="avatar">
        <img src="{{user.avatar}}" onError="this.src='assets/img/avatar.png'">
      </div>
      <div class="textbox">
        <div>{{user.username}}</div>
        <div class="text2">{{deviceNum}}个设备已接入</div>
      </div>
      <div class="arrow">
        <img src="assets/img/icon/arrow.svg">
      </div>
    </div>

    <div class="itembox">
      <ng-container *ngFor="let item of menuList">
        <div class="item" [ngClass]="{'disabled': item.disabled}" (click)="goto(item.url,item)">
          <!-- [routerDirection]="'root'" -->
          <div class="icon">
            <!-- <img src="assets/img/menu/{{item.icon}}.png"> -->
            <i class="{{item.icon}}"></i>
          </div>
          <div class="title">{{item.title}}</div>
          <div class="arrow">
            <img src="assets/img/icon/arrow.svg">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="version" (click)="checkCodePush()">
      <div>当前版本：{{softVersion}}</div>
      <img *ngIf="showNewVersion" class="cue" src="assets/img/new.png">
    </div>
  </div>
</ion-content>