// .btn {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   right: 0;
//   height: 60px;
//   padding-right: 20px;
//   font-size: 13px;
//   color: #389bee;
// }

.noshared {
  color: #8e8e8e;
  padding-top: 20px;
  font-size: 14px;
}
