<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{device.config.customName}} {{'SHARING.SHARING' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="noshared animated fadeIn" textcenter
    *ngIf="!shareData.share0[deviceName] && !shareData.share[deviceName]">
    {{'SHARING.NO_SHARING' | translate}}
  </div>
  <b-item-list>
    <ng-container *ngIf="shareData.share0[deviceName]">
      <b-item *ngFor="let item of shareData.share0[deviceName];index as i">
        <div class="img-box">
          <img class="avatar" src="{{AVATAR_API + item.userId+'.jpg'}}" onError="this.src='assets/img/avatar.png'">
        </div>
        <div class="text-box">
          <div class="name">{{item.username}}</div>
          <div class="other">{{'SHARING.WAIT' | translate}}</div>
        </div>
        <div class="right-btn" (click)="cancel0(item.uuid,i)">
          {{'SHARING.CANCEL' | translate}}
        </div>
      </b-item>
    </ng-container>
    <ng-container *ngIf="shareData.share[deviceName]">
      <b-item *ngFor="let item of shareData.share[deviceName];index as i">
        <div class="img-box">
          <img class="avatar" src="{{AVATAR_API + item.userId+'.jpg'}}" onError="this.src='assets/img/avatar.png'">
        </div>
        <div class="text-box">
          <div class="name">{{item.username}}</div>
          <div class="other">{{item.date | msToDate}} 共享</div>
        </div>
        <div class="right-btn" (click)="cancel(item.uuid,i)">
          {{'SHARING.CANCEL' | translate}}
        </div>
      </b-item>
    </ng-container>
  </b-item-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <b-bottom-btn (click)="addShare()">+  {{'SHARING.ADD' | translate}}</b-bottom-btn>
  </ion-toolbar>
</ion-footer>