.title {
  font-size: 1rem;
  font-weight: 600;
  color: #444444;
  margin-bottom: 0.7rem;
}

.item-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    border: 1px solid #bebebe;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0 20px;
  }
  .active {
    background-color: #389bee;
    color: #fff;
    border: 1px solid #389bee;
  }
}

textarea {
  width: 100%;
  background-color: #f5f5f5;
}

.btnbox {
  margin-top: 2rem;
  width: 100%;
  [fullbtn] {
    border-radius: 5px;
  }
}

.done-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  font-size: 0.8rem;
  color: #444444;
}

.tip {
  margin-top: 15px;
  color: #444;
  font-size: 13px;
}
