page-layout2-settings-image {

    .img-box {
        display: flex;
        flex-wrap: wrap;
    }
    .img-item {
        width: 32vw;
        height: 32vw;
        margin: 3px 0 0 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
}