<ion-header class="profile-editor-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>编辑资料</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="editor-content">
    <input
      #avatarInput
      class="avatar-file-input"
      type="file"
      accept="image/*"
      (change)="onAvatarSelected($event)"
    />
    <button type="button" class="avatar-editor" (click)="avatarInput.click()" aria-label="更换头像">
      <div class="avatar-preview">
        @if (avatar) {
        <img [src]="avatar" alt="用户头像" />
        } @else {
        <span>{{ draftName.slice(0, 1) || 'A' }}</span>
        }
      </div>
      <span class="camera-button"><i class="fa-light fa-camera"></i></span>
    </button>
    <app-menu-list
      class="profile-menu-list"
      [items]="profileMenuItems"
      (itemSelected)="selectMenuItem($event)"
    ></app-menu-list>

    <div class="section-label">账户安全</div>
    <app-menu-list
      [items]="securityMenuItems"
      (itemSelected)="selectMenuItem($event)"
    ></app-menu-list>
  </div>
</ion-content>
