<ion-header class="profile-editor-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>用户资料</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="editor-content">
    <div class="avatar-display" aria-label="用户头像">
      <div class="avatar-preview">
        @if (avatar) {
        <img [src]="avatar" alt="用户头像" />
        } @else {
        <span>{{ draftName.slice(0, 1) || 'A' }}</span>
        }
      </div>
    </div>
    <app-menu-list
      class="profile-menu-list"
      ariaLabel="个人资料"
      [items]="profileMenuItems"
      (itemSelected)="selectMenuItem($event)"
    ></app-menu-list>

    <div class="section-label">账户安全</div>
    <app-menu-list
      ariaLabel="账户安全"
      [items]="securityMenuItems"
      (itemSelected)="selectMenuItem($event)"
    ></app-menu-list>
  </div>
</ion-content>
