<div class="picker-columns">
  <div class="picker-above-highlight"></div>
  <div *ngFor="let c of d.columns" [col]="c" class="picker-col" (ionChange)="_colChange($event)"></div>
  <div class="picker-below-highlight"></div>
</div>
<div class="pick-box">
  <div class="pick-opts">
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
  </div>
  <div class="pick-item spacer">
    :
  </div>
  <div class="pick-opts">
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
    <div>00</div>
  </div>
</div>