b-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .bar {
        background-color: #e6e6e6;
    }
    .bar-active {
        background: #389BEE;
    }
    .slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-width: 50px;
        min-height: 20px;
        padding: 0 10px;
        .bar {
            width: 100%;
            height: 5px;
            border-radius: 2.5px;
        }
        .bar-active {
            width: 0%;
        }
        .knob-box {
            position: absolute;
            top:0;
            width: 100%;
            height: 20px;
        }
        .touch {
            width: 100%;
            height: 150%;
            position: absolute;
            top:0;
        }
        // .value {
        //     position: absolute;
        //     color: white;
        //     left: -5px;
        //     top: -40px;
        //     width: 30px;
        //     height: 30px;
        //     border-radius: 50%;
        //     background-color: #00c0e8;
        //     display: flex;
        //     display: -webkit-flex;
        //     align-items: center;
        //     justify-content: center;
        // }
    }
    .knob {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 1.5em;
        background: #FFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .slider-y {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 100%;
        min-width: 20px;
        min-height: 50px;
        padding: 10px 0;
        .bar {
            width: 5px;
            height: 100%;
            border-radius: 2.5px;
        }
        .bar-active {
            position: absolute;
            bottom: 0;
            height: 0%;
        }
        .knob-box {
            position: absolute;
            height: 100%;
            width: 20px;
            left: 0;
            .knob {
                bottom: 0;
            }
        }
        .touch {
            width: 150%;
            height: 100%;
            position: absolute;
            left: 0;
        }
        // .value {
        //     position: absolute;
        //     color: white;
        //     left: -5px;
        //     top: -40px;
        //     width: 30px;
        //     height: 30px;
        //     border-radius: 50%;
        //     background-color: #00c0e8;
        //     display: flex;
        //     display: -webkit-flex;
        //     align-items: center;
        //     justify-content: center;
        // }
    }
}