<div widget>
  <div
    class="chartbox"
    [ngStyle]="{'visibility': !isHidden?'visible':'hidden'}"
  >
    <line-chart-area
      [data]="data"
      [color]="chartColor"
      [quickCode]="quickCode"
    ></line-chart-area>
  </div>
  @if (isHidden) {
  <div class="nodata">暂无数据</div>
  }
  <div class="controls">
    <div class="btnbox">
      @for (key of keys; track key; let i = $index) { @if (key) {
      <div
        class="item"
        (click)="changeKey(key)"
        [ngStyle]="{'background-color': chartColor}"
        [ngClass]="{'selected': selectedKey === key,'unselected':selectedKey !== key}"
      >
        {{ts[i]}}
      </div>
      } }
    </div>
    <select [(ngModel)]="quickCode" (ngModelChange)="changeQuickCode()">
      <option value="rt">实时</option>
      <option value="1h">最近1小时</option>
      <option value="1d">最近1天</option>
      <option value="1w">最近1周</option>
    </select>
  </div>
</div>
