<b-item-list>
  @for (deviceId of itemList; track deviceId) {
  <b-item (click)="selectDeviceId(deviceId)">
    <div class="img-box">
      <b-device-img
        [filename]="deviceDataDict[deviceId].config.image"
      ></b-device-img>
      @if (deviceDataDict[deviceId].config.mode=='ble') {
      <img class="mode" src="img/icon/ble.png" />
      }
    </div>
    <div class="text-box">
      <div class="name">{{ deviceDataDict[deviceId].config.customName }}</div>
      <div class="other">{{ deviceId }}</div>
    </div>
  </b-item>
  }
</b-item-list>
