weatherblock {
    .weather-box {
        color: snow;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .icon {
            width: 16px;
            height: 16px;
            margin-bottom: -3px;
        }
        .col1 {
            .temperature {
                font-size: 36px;
                font-weight: 500;
            }
            .unit{
                font-size: 12px;
            }
            .other {
                margin-left: 6px;
                font-size: 10.5px;
            }
        }
        .col2 {
            margin-top: 2px;
            font-weight: 100;
        }
        .col3 {
            font-weight: 100;
            margin-top: 20px;
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            .other {
                margin-left: 10px;
            }
        }
    }
}