<div device-bg [ngClass]="{'on': switch}">
  <div class="stream" *ngIf="tab==4 && switchState == 'on'">
    <img src="assets/img/devices/ownlight/bg.jpg">
  </div>
</div>
<!-- <ion-content [ngClass]="{
    'offline': switchState == 'off' || state=='offline',
    'content-color': tab!=4 && switchState == 'on'
  }"> -->
<div device-box [ngClass]="{'off': !switch}">
  <div class="btn-gounp">
    <div btn [ngClass]="{'selected':tab==0}" (click)="changeTab(0)">
      <div class="icon">
        <img src="assets/img/devices/ownlight/sun.png">
      </div>
      日光
    </div>
    <div btn [ngClass]="{'selected':tab==1}" (click)="changeTab(1)">
      <div class="icon">
        <img src="assets/img/devices/ownlight/solid.png">
      </div>
      纯色
    </div>
    <div btn [ngClass]="{'selected':tab==2}" (click)="changeTab(2)">
      <div class="icon">
        <img src="assets/img/devices/ownlight/breath.png">
      </div>
      呼吸
    </div>
    <div btn [ngClass]="{'selected':tab==3}" (click)="changeTab(3)">
      <div class="icon">
        <img src="assets/img/devices/ownlight/blink.png">
      </div>
      闪烁
    </div>
    <div btn [ngClass]="{'selected':tab==4}" (click)="changeTab(4)">
      <div class="icon">
        <img src="assets/img/devices/ownlight/stream.png">
      </div>
      流光
    </div>
    <div btn [ngClass]="{'selected':tab==5}" (click)="changeTab(5)">
      <div class="icon">
        <img src="assets/img/devices/ownlight/gradient.png">
      </div>
      渐变
    </div>
  </div>
  <div class="tabbox">
    <ng-container *ngIf="tab==0 ||tab==1 || tab==2 || tab==3 || tab==4">
      <div bar *ngIf="tab==0">
        <img src="assets/img/devices/ownlight/warm.png">
        <b-range [value]="colortemp" [barcolor]="'linear-gradient(to right, #ffa645, #fff9fb)'"
          [activebar]="false" (valueChange)="colortempChange($event)" (sendData)="sendData()">
        </b-range>
        <img src="assets/img/devices/ownlight/cool.png">
      </div>
      <b-colorpicker (colorChange)="colorChange($event)" *ngIf="tab==1 || tab==2 || tab==3"></b-colorpicker>
      <div bar>
        <img src="assets/img/devices/ownlight/sun-h.png">
        <b-range [value]="brightness" (valueChange)="brightnessChange($event)" (sendData)="sendData()">
        </b-range>
        <img src="assets/img/devices/ownlight/sun-f.png">
      </div>
      <div bar *ngIf="tab==2 || tab==3 || tab==4">
        <img src="assets/img/devices/ownlight/speed-h.png">
        <b-range [value]="speed" (valueChange)="speedChange($event)" (sendData)="sendData()">
        </b-range>
        <img src="assets/img/devices/ownlight/speed-f.png">
      </div>
    </ng-container>
    <ng-container *ngIf="tab==5">
      <div class="colorzone">
        <div class="colorgroup">
          <ng-container *ngFor="let btn of sendColorList;index as i">
            <div>
              <div class="colorbtn" (click)="showColorDisk(i)" [ngClass]="{'select': selectColorId==i}">
                <div class="colorinner" [ngStyle]="{'background-color': getColor(i)}"></div>
              </div>
            </div>
          </ng-container>
          <div>
            <div class="addbtn" (click)="addColor()" *ngIf="sendColorList.length < 6">
              <div class="addbtninner">
                <ion-icon name="add"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div bar>
        <img src="assets/img/devices/ownlight/sun-h.png">
        <b-range [value]="brightness" (valueChange)="brightnessChange($event)" (sendData)="sendData()">
        </b-range>
        <img src="assets/img/devices/ownlight/sun-f.png">
      </div>
      <div bar>
        <img src="assets/img/devices/ownlight/speed-h.png">
        <b-range [value]="speed" (valueChange)="speedChange($event)" (sendData)="sendData()">
        </b-range>
        <img src="assets/img/devices/ownlight/speed-f.png">
      </div>
    </ng-container>
  </div>
  <div class="switchbox">
    <div class="switch" [ngClass]="{'on': switchState=='on'}" (click)="turn()">
      <i class="fal fa-power-off"></i>
    </div>
    <!-- <div class="timing" (click)="gotoTiming()">
      <img src="assets/img/devices/ownlight/timing.png">
    </div> -->
  </div>

</div>

<img preload src="/assets/img/devices/ownlight/bg.jpg">
<div debug *ngIf="isDebug">colortemp:{{colortemp}},brightness:{{brightness}},speed:{{speed}},color:{{color}}</div>