[device-card] {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    position: relative;

    [card-header] {
        display: flex;
        align-items: center;
        height: 60px;

        img {
            margin: 0 10px;
            height: 50px;
        }

        [device-info] {
            font-size: 13px;

            [name] {
                color: #444444;
                font-size: 15px;
            }

            [id] {
                color: #999999;
                font-size: 12px;
            }
        }
    }

    .number {
        position: absolute;
        right: 80px;
        color: #999999;
        font-size: 12px;
    }

    .setting {
        position: absolute;
        right: 0;
        color: #6E7072;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;

        i {
            font-size: 25px;
        }
    }

}

.hspace {
    height: 8vh;
}

.addbtn {
    border-top: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    background-color: #FFF;
    color: #389BEE;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    font-size: 15px;
}