<b-item-list>
  <b-item *ngFor="let prodevice of proDeviceList;trackBy:trackByFn" (click)="edit(prodevice)">
    <div class="img-box">
      <b-device-img [filename]="prodevice.image"></b-device-img>
    </div>
    <div class="text-box">
      <div class="name">{{prodevice.name}}</div>
      <div class="other">{{prodevice.deviceType}}</div>
    </div>
    <div class="right-box">
      <!-- <div class="number"> -->
        已激活：{{prodevice.quantity}}
      <!-- </div> -->
    </div>
  </b-item>
</b-item-list>


<b-bottom-btn *ngIf="showAddBtn" (click)="add()">+ 新建专属设备</b-bottom-btn>