<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'MENU.SCENE_MANAGER' | translate}}</ion-title>
    <ion-buttons *ngIf="loaded" slot="end" (click)="switchMode()">
      <ion-button *ngIf="editMode">
        完成
      </ion-button>
      <ion-button *ngIf="!editMode">
        编辑
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <b-item-list *ngIf="loaded" [editMode]="editMode" (sortChange)="sortChange($event)">
    <b-item [id]="sceneName" (delete)="delSceneAlert($event)" showArrow="true" *ngFor="let sceneName of sceneDataList"
      (enter)="editScene(sceneName)">
      <div class="icon-box" *ngIf="sceneDataDict[sceneName]">
        <i class="{{sceneDataDict[sceneName].ico}}"></i>
      </div>
      <div class="title">{{sceneName}}</div>
    </b-item>
  </b-item-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <b-bottom-btn *ngIf="!editMode" (click)="addScene()">+ 新建场景</b-bottom-btn>
  </ion-toolbar>
</ion-footer>