.infobox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 3px 0;
  padding: 15px 0;
  color: #595959;

  .imgbox {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .uploadimg {
      margin-top: 10px;
      font-size: 12px;
      color: #389bee;
    }
  }

  .itembox {
    width: 60%;
    font-size: 13px;

    .item {
      margin: 15px 10px;
      line-height: 15px;
      display: flex;
      align-items: center;
      color: #333;
      
      img {
        height: 15px;
      }

      span {
        // color: #444444;
        margin-left: 10px;
      }

      i {
        padding-left: 10px;
        color: #389bee;
      }
    }
  }
}

[redpoint] {
  top: 0;
  right: -8px;
}

b-bottom-btn {
  ::ng-deep {
    .bottom-btn {
      color: #f00000;
    }
  }
}
