b-top-box {
    ::ng-deep {
        .content {
            // justify-items: center;
            align-items: center;
        }
    }

}

.title {
    font-size: 14px;
    font-weight: 600;
    margin: 15px;
}