deviceblock-homelist {
    .devicebox {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: flex-start;
        padding: 0 15px 0 15px;
        position: relative;
        .schosen {
            opacity: 0.4;
        }
        .sdrag {
            opacity: 1;
            border-radius: 5px;
            box-shadow: 0 0 5px 3px rgba(60, 150, 255, 0.8);
        }
    }
    deviceblock {
        margin-top: 2.5vw; // margin-top: 3.5vw;
    }
    .device-space {
        margin-top: 2.5vw;
        width: 29vw;
        height: 32vw;
    }
    ion-slides {
        .slide-zoom {
            position: absolute;
            top: 0;
            left: 0;
        } // .scrollHeight {
        //     width: 100% !important;
        //     height: calc(100vh - 200px);
        // }
        .fixSortable{
            transform: none !important;
        }
    }
    .testscroll {
        width: 100%;
        height: calc(100vh - 200px);
        overflow-x: hidden;
        overflow-y: scroll;
    }
}