$temp-color: #0083d3;

[textcenter] {
    font-size: 13px;
    color: #fff;
    margin-top: 5vh;
}

[device-bg].on {
    background: radial-gradient(circle, #61B4FA, #389BEE, #0076D9);
}

[device-bg] {
    background: radial-gradient(circle, rgb(75, 121, 158), rgb(38, 99, 148), rgb(7, 78, 136));
}

.switch-box {
    position: absolute;
    z-index: 99;
    top: 15px;
    right: 30px;

    button {
        font-size: 30px;
        height: 50px;
        width: 50px;
    }

    button:active {
        transform: scale(0.95, 0.95);
    }

    .on {
        color: #eee;
        text-shadow: 0 0 10px #eee;
    }

    .off {
        color: #0088da;
        border-radius: 50%;
        border: 1px solid #0086da7c;
    }
}

.content-box {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: filter 1s;

    ion-slides {
        height: 100%;

        ion-slide {
            width: 100vw;
        }
    }

    // 温度设置
    .temp-box {
        margin-top: -18vh;

        .circle {
            border: 2px $temp-color solid;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            box-shadow: 0 1px 15px 1px rgba(255, 255, 255, 0.1);
        }

        .temp {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $temp-color;
            margin: auto;
            box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.1);
            overflow: hidden;
            color: #fff;
            position: relative;
        }

        .data {
            font-size: 50px;
            position: relative;
            line-height: 45px;

            .unit {
                position: absolute;
                right: -17px;
                bottom: 0;
                font-size: 14px;
                line-height: 14px;
            }
        }

        .h-line {
            position: absolute;
            bottom: 45px;
            width: 90%;
            height: 1px;
            background-color: rgba(177, 230, 255, 0.3);
        }

        .text {
            position: absolute;
            bottom: 15px;
            margin-top: 5px;
            font-size: 14px;
        }


        .face {
            margin-top: 10px;
            font-size: 35px;
            padding-bottom: 10px;
        }
    }

    .range-box {
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        height: 30px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-range {
            font-size: 25px;
            padding: 5px 10px;
            color: #FFF;
        }

        b-range {
            flex-grow: 1;
            margin: 0 10px;
        }

        ::ng-deep {
            .slider {
                height: 30px;
            }
        }
    }

    b-chart {
        height: 38vh;
        width: 95%;

        ::ng-deep {
            .nodata {
                color: #fff;
            }

            select {
                color: #fff;
            }
        }
    }

    .shell {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 18vh;


        .cal-box {
            width: 80%;
            height: 20vh;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.3);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .text {
                position: absolute;
                top: 20px;
                font-size: 14px;
            }

            .cal-value {
                font-size: 50px;
                margin-top: 15px;
            }
        }

        .calbtn-box {
            color: #fff;
            display: flex;

            .btn-cal {
                display: flex;
                flex-direction: column;
                height: 80px;
                padding: 15px 30px;

                i {
                    font-size: 30px;
                }

                .fa-redo-alt {
                    font-size: 21px;
                    margin-top: 8px;
                }

                .text {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }



}

.btn-box {
    position: fixed;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 10px;

    .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 22vw;
        margin: 15px 0;
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;

        i {
            font-size: 25px;
        }

        .text {
            margin-top: 5px;
        }

    }

    .selected {
        text-shadow: 3px 0 10px #FFF;
        color: #FFF;
    }
}