<div device-bg [ngClass]="{'on': switch}"></div>
<div device-box [ngClass]="{'off': !switch}">

    <div class="switch-box">
        <button [ngClass]="{'on': switch,'off': !switch}" (click)="turnSwitch()">
            <i class="fal fa-power-off"></i>
        </button>
    </div>
    <div class="content-box" [ngClass]="{'on': switch,'off': !switch}">
        <!-- <ion-slides>
            <ion-slide> -->
        <div class="shell animated fadeIn faster" *ngIf="showTab==0">
            <div class="temp-box">
                <div class="circle">
                    <div class="temp">
                        <div class="data">
                            <ng-container *ngIf="!showSendTemp">
                                {{currentTemp}}
                            </ng-container>
                            <ng-container *ngIf="showSendTemp">
                                {{sendTemp}}
                            </ng-container>
                            <div class="unit">℃</div>
                        </div>
                        <div class="h-line"></div>
                        <div class="text">
                            <ng-container *ngIf="!showSendTemp">
                                当前温度
                            </ng-container>
                            <ng-container *ngIf="showSendTemp">
                                目标温度
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="range-box animated fadeIn faster">
                <div class="btn-range" (click)="reduce()"><i class="far fa-minus"></i></div>
                <b-range [min]="min" [max]="max" [value]="targetTemp" [activebar]="false" [activebar2]="true"
                    [barcolor]="'linear-gradient(to right, rgb(66, 255, 150), rgb(255, 252, 66),rgb(255, 22, 39))'"
                    (valueChange)="targetTempChange($event)" (sendData)="sendData()">
                </b-range>
                <div class="btn-range" (click)="add()"><i class="far fa-plus"></i></div>
            </div>
        </div>

        <!-- </ion-slide>
            <ion-slide> -->
        <div class="shell animated fadeIn faster" *ngIf="showTab==1">
            <b-chart [device]="device" [key]="'temp'"></b-chart>
        </div>

        <!-- </ion-slide>
            <ion-slide> -->
        <div class="shell animated fadeIn faster" *ngIf="showTab==2">
            <b-chart [device]="device" [key]="'power'"></b-chart>
        </div>
        <!-- </ion-slide>
            <ion-slide> -->
        <div class="shell animated fadeIn faster" *ngIf="showTab==3">
            <div class="cal-box">
                <div class="text">温度校准</div>
                <div class="cal-value">{{sendCal}}</div>
            </div>
            <div class="calbtn-box">
                <div class="btn-cal" (click)="reduceCal()"><i class="far fa-minus"></i>
                    <div class="text">减</div>
                </div>
                <div class="btn-cal" (click)="resetCal()"><i class="far fa-redo-alt"></i>
                    <div class="text">还原</div>
                </div>
                <div class="btn-cal" (click)="addCal()"><i class="far fa-plus"></i>
                    <div class="text">加</div>
                </div>
            </div>
        </div>
        <!-- </ion-slide>
        </ion-slides> -->
    </div>
    <div class="btn-box">
        <div class="btn" (click)="selecte(0)" [ngClass]="{'selected': tab==0}">
            <i class="fal fa-tachometer-alt-slow"></i>
            <div class="text">温度调整</div>
        </div>
        <div class="btn" (click)="selecte(1)" [ngClass]="{'selected': tab==1}">
            <i class="fal fa-chart-area"></i>
            <div class="text">温度曲线</div>
        </div>
        <div class="btn" (click)="selecte(2)" [ngClass]="{'selected': tab==2}">
            <i class="fal fa-clock"></i>
            <div class="text">定时</div>
        </div>
        <div class="btn" (click)="turnSleep()" [ngClass]="{'selected': sleepState}">
            <i class="fal fa-bed"></i>
            <div class="text">休眠</div>
        </div>
        <div class="btn" (click)="turnPowerSave()" [ngClass]="{'selected': powersaveState}">
            <i class="fal fa-chart-area"></i>
            <div class="text">智能节能</div>
        </div>
        <div class="btn" (click)="selecte(5)" [ngClass]="{'selected': tab==5}">
            <i class="fal fa-file-signature"></i>
            <div class="text">能耗记录</div>
        </div>
        <div class="btn" (click)="selecte(6)" [ngClass]="{'selected': tab==6}">
            <i class="fal fa-thermometer-three-quarters"></i>
            <div class="text">CAL校准</div>
        </div>
        <div class="btn" (click)="turnLock()" [ngClass]="{'selected': lockState}">
            <i class="fal fa-lock-alt"></i>
            <div class="text">锁定</div>
        </div>
    </div>
</div>