.colorpicker {
    position: relative;
    height: 100%;

    canvas {
        height: 100%;
    }

    .knob {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 2px solid #FFF;
        transition: opacity 1s;
        opacity: 0;
    }

    .pickerbox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: 0;
        width: 100%;
        height: 100%;

        .picker-inner {
            width: 30%;
            height: 30%;
            border-radius: 50%;
        }
    }
}
.picker-inner{
    height: 15px;
    width: 40px;
}