page-user-devices {
    .userdevicebox {
        display: flex;
        flex-direction: column;
        .device-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #dee2e6;
            margin-left: 5px;
            margin-right: 5px;
            .item-img-box {
                display: flex;
                .item-img {
                    height: 100px;
                }
                .mode {
                    position: absolute;
                    width: 14px !important;
                    height: 14px !important;
                    margin: 8px 5px 5px 5px;
                }
            }
            .name {
                font-size: 19px;
            }
            .mac {
                font-size: 15px;
                color: rgb(100, 100, 100);
            }
        }
    }
}