<ion-header>
  <ion-toolbar overlayPadding>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <i class="fal fa-times"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>设定生效时间</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        保存
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="time-setting">
    <div class="title">开始时间</div>
    <b-timepicker [(value)]="timeInfo1"></b-timepicker>
  </div>
  <div class="time-setting">
    <div class="title">结束时间</div>
    <b-timepicker [(value)]="timeInfo2"></b-timepicker>
  </div>
  <div class="day-setting">
    <div class="title">重复设置</div>
    <div h-line></div>
    <div class="daybar">
      <div day (click)="choseDay(0)" [ngClass]="{'chosen':day[0]=='1'}">
        周日
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(1)" [ngClass]="{'chosen':day[1]=='1'}">
        周一
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(2)" [ngClass]="{'chosen':day[2]=='1'}">
        周二
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(3)" [ngClass]="{'chosen':day[3]=='1'}">
        周三
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(4)" [ngClass]="{'chosen':day[4]=='1'}">
        周四
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(5)" [ngClass]="{'chosen':day[5]=='1'}">
        周五
        <i class="fas fa-check-circle"></i>
      </div>
      <div day (click)="choseDay(6)" [ngClass]="{'chosen':day[6]=='1'}">
        周六
        <i class="fas fa-check-circle"></i>
      </div>
    </div>
  </div>
</ion-content>