.title {
    margin: 8px 15px;
}

.time-setting {
    margin-bottom: 30px;
}

.day-setting {
    .daybar {
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        background-color: #fff;

        [day] {
            color: #D8D8D8;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 13px;

            i {
                margin-top: 5px;
                font-size: 25px;
            }
        }
    }
}

.chosen {
    color: #3C3C3C !important;

    i {
        color: #389BEE;
    }
}

.btnbox {
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 15px;
}