[device-bg] {
    background: radial-gradient(circle, rgb(75, 121, 158), rgb(38, 99, 148), rgb(3, 56, 99));
}

[device-bg].on {
    background: radial-gradient(circle, #61B4FA, #389BEE, #0076D9);
}

.bar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;  
}

.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 0 30px;

    [btn] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 7px;
        font-size: 13px;

        .icon {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            height: 45px;
            width: 45px;
            border: 1px solid #FFF;
            border-radius: 50%;

            img {
                height: 33px;
                width: 33px;
            }
        }
    }

    .selected {
        .icon {
            border: 0;
            background-color: rgba(255, 255, 255, 0.295);
            color: #fff;
        }
    }
}

.switch-box {
    position: fixed;
    bottom: 5vh;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 33px;
        height: 80px;
        width: 80px;
        border: 1px solid #FFF;
        border-radius: 50%;
        color: #fff;
    }

    .switch.on {
        background-color: rgba(255, 255, 255, 0.295);
    }

    .switch:active {
        transform: scale(0.95, 0.95);
    }

}


[bar] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 12vh;

    b-range {
        margin: 0 1vw;
        width: 75vw;

        .slider {
            height: 8vh;
        }
    }

    img {
        height: 6vw;
    }
}