<ion-tabs>
    <ion-tab tab="device">
        <tab-device></tab-device>
    </ion-tab>

    <ion-tab tab="community">
        <app-tab-community></app-tab-community>
    </ion-tab>

    <ion-tab tab="profile">
        <tab-profile></tab-profile>
    </ion-tab>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="device">
            <i class="fa-light fa-house-chimney"></i>
            <ion-label>设备</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="community">
            <i class="fa-light fa-compass"></i>
            <ion-label>发现</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <i class="fa-light fa-user"></i>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>