<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="device" href="/home/device">
            <i class="fa-light fa-house-chimney"></i>
            <ion-label>{{ 'NAVIGATION.DEVICE' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="community" href="/home/community">
            <i class="fa-light fa-compass"></i>
            <ion-label>{{ 'NAVIGATION.COMMUNITY' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tools" href="/home/tools">
            <i class="fa-light fa-toolbox"></i>
            <ion-label>{{ 'NAVIGATION.TOOLS' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" href="/home/profile">
            <i class="fa-light fa-user"></i>
            <ion-label>{{ 'NAVIGATION.PROFILE' | translate }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
