<ion-tabs>
    <ion-tab tab="device">
        <tab-device></tab-device>
    </ion-tab>

    <ion-tab tab="community">
        <tab-community></tab-community>
    </ion-tab>

    <ion-tab tab="profile">
        <tab-profile></tab-profile>
    </ion-tab>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="device">
            <i class="fa-regular fa-house-chimney"></i>
            <ion-label>设备</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="community">
            <i class="fa-regular fa-users"></i>
            <ion-label>社区</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <i class="fa-regular fa-user"></i>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>