page-ali-genie-guide {
    span {
        color: #FE672F;
        margin: 0 3px;
    }
    [block] {
        text-align: center;
        margin-bottom: 30px;
        [title] {
            font-size: 23px;
            color: #389BEE;
            font-weight: 500;
            margin-bottom: 10px;
        }
        [content] {
            margin: 5px 0;
            font-size: 15px;
        }
        [content2] {
            margin: 5px 0;
            font-size: 12px;
        }
        img{
            margin: 10px 0;
        }
    }
    button {
        background-color: #389BEE !important;
        span {
            color: #fff;
        }
    }
}