<iframe class="animated fadeIn faster" *ngIf="url" [src]="url" width="100%" frameborder="0"
    #iframeBox></iframe>
<div class="loading-box" [ngClass]="{'tohide': loaded}" *ngIf="showLoading && !isFailed">
    <div class="loader">
        <div class="ball-grid-beat">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="text">loading</div>
</div>
<div class="fail-box" *ngIf="isFailed">
    <i class="fad fa-exclamation-triangle"></i>
    <p>设备页加载失败</p>
    <p>请检查网络连接 或 联系设备提供商</p>
</div>