.transparent {
    height: 50vh;
}

.show {
    position: relative;
    height: 50vh;
    background-color: #004A8C;
    display: flex;
    justify-content: center;
    align-items: center;
}

b-colorpicker {
    height: 80%;
}

.delbtn {
    position: absolute;
    top: 5vw;
    right: 5vw;
    font-size: 5vw;
    color: #fff;
}