<widget-text *ngIf="widget.type=='tex'" [widget]="widget" [device]="device"></widget-text>
<widget-number *ngIf="widget.type=='num'" [widget]="widget" [device]="device"></widget-number>
<widget-button *ngIf="widget.type=='btn'" [widget]="widget" [device]="device"></widget-button>
<widget-range *ngIf="widget.type=='ran'" [widget]="widget" [device]="device"></widget-range>
<widget-timer *ngIf="widget.type=='tim'" [widget]="widget" [device]="device"></widget-timer>
<widget-color *ngIf="widget.type=='col'" [widget]="widget" [device]="device"></widget-color>
<widget-debug *ngIf="widget.type=='deb'" [widget]="widget" [device]="device"></widget-debug>
<widget-joystick *ngIf="widget.type=='joy'" [widget]="widget" [device]="device"></widget-joystick>
<widget-chart *ngIf="widget.type=='cha'" [widget]="widget" [device]="device"></widget-chart>
<widget-map *ngIf="widget.type=='map'" [widget]="widget" [device]="device"></widget-map>
<widget-input *ngIf="widget.type=='inp'" [widget]="widget" [device]="device"></widget-input>
<widget-video *ngIf="widget.type=='vid'" [widget]="widget" [device]="device"></widget-video>
<widget-select *ngIf="widget.type=='sel'" [widget]="widget" [device]="device"></widget-select>
<!-- <widget-image *ngIf="widget.type=='img'" [widget]="widget" [device]="device"></widget-image> -->
<widget-custom *ngIf="widget.type=='cus'" [widget]="widget" [device]="device"></widget-custom>

<div class="editMode" *ngIf="mode==1" (tap)="select()">
    <div class="key" [ngClass]="{'centerkey': widget.bg==3}">{{widget.key}}</div>
</div>