$gradient-start: #41D8DD;
$gradient-end: #5583EE;

.card-item {
    margin-top: 30px;
    width: 85vw;
    height: 60vh;
    border: 1px solid #CCC;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(33deg, $gradient-start, $gradient-end);
    box-shadow: 0 0 10px #CCC;

    .device-info {
        position: absolute;
        top: 30px;
        font-size: 30px;
        font-weight: 700;
        color: #FFF;
    }

    .switch {
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        background-color: #AAA;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: #FFF;
        margin: 50px 0;
        background: rgba(255, 255, 255, 0.6);
    }
}

.btn-box {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 30px;

    .btn {
        width: 23vw;
        margin-top: 30px;
        margin-right: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #666;
        font-size: 14px;

        i {
            font-size: 30px;
            margin-bottom: 8px;
            -webkit-background-clip: text !important;
            color: transparent !important;
        }

        i.color0 {
            background: linear-gradient(33deg, #8DEBFF, #6CACFF);
        }

        i.color1 {
            background: linear-gradient(33deg, #54E38E, #41C7AF);
        }

        i.color2 {
            background: linear-gradient(33deg, #DEB0DF, #A16BFE);
        }

        i.color3 {
            background: linear-gradient(33deg, #FDEB82, #F78FAD);
        }

        i.color4 {
            background: linear-gradient(33deg, #C1E3FF, #ABC7FF);
        }

        i.color5 {
            background: linear-gradient(33deg, #8DEBFF, #6CACFF);
        }
    }

    btn:nth-child(4) {
        margin-right: 0;
    }
}

::ng-deep {
    .swiper-pagination {
        width: 100%;
    }

    // .swiper-pagination-bullet {
    //     margin: 0 5px;
    //     background: #000;
    //     opacity: .2;
    // }

    // .swiper-pagination-bullet-active {
    //     background: #007aff;
    //     opacity: 1;
    // }
}