.menubox {
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    height: 8vh;
    margin-top: 3px;
    font-size: 15px;
    .name {
      position: absolute;
      left: 20px;
    }
    .num {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #959595;
      margin-right: 10px;
    }
    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      color: #959595;
      img {
        height: 2.5vh;
      }
    }
  }
}
