<div class="dismiss" (click)="clickCancel()"></div>
<div class="select-modal">
  <div class="item-list" style="margin-bottom: 65px;">
    <div class="item" *ngFor="let day of dayList;index as i" (click)="choseDay(i)">
      <div translate>{{day}}</div>
      <i class="fal fa-circle" *ngIf="data[i]!='1';else check"></i>
      <ng-template #check>
        <i class="fas fa-check-circle"></i>
      </ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-btn" (click)="clickCancel()">{{'OTHER.CANCEL'| translate}}</div>
    <div class="line"></div>
    <div class="modal-btn" (click)="clickConfirm()">{{'OTHER.CONFIRM'| translate}}</div>
  </div>
</div>