.timebox {
    margin-top: 3px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    height: 50px;
    background-color: #FFF;
}