<ion-header class="editor-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button aria-label="关闭" (click)="close()">
        <i class="fa-light fa-xmark"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>组件编辑</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="setting-content">
    <!-- 效果预览 -->
    <div class="setting-box0">
      <div class="setting-title">
        <div>样式设置</div>
        <div class="h-line"></div>
      </div>
      <div class="scrollHeight" appHorizontalDragScroll>
        <div
          class="widgetitem-box"
          [ngClass]="{'scale07': widget.type!='tex','scale04': widget.type=='vid','scale03':widget.type=='img'||widget.type=='col'}"
        >
          @for (widgetItem of widgets; track widgetItem; let i = $index) {
          <div
            class="widgetitem"
            #widgetItem
            (click)="changeStyle(i)"
            [ngStyle]="{'box-shadow':widget.lstyle==i?'0 0 0 3px rgba(var(--ion-color-primary-rgb), 0.3)':''}"
          >
            <widget-dynamic
              [widget]="widget"
              [lstyle]="i"
              [device]="device"
              [isDemo]="true"
            ></widget-dynamic>
          </div>
          }
          <div style="width: 15px; flex-shrink: 0"></div>
        </div>
      </div>
    </div>
    <!-- 参数设置 -->
    <div class="setting-box" [ngClass]="{'showkeyboard':showKeyboard}">
      <div class="setting-title">
        <div>参数设置</div>
        <div class="h-line"></div>
      </div>
      @if (widget.type === 'tim' || widget.type === 'wea' || widget.type === 'air') {
      <div setting-item>
        @if (widget.type === 'wea') {
        <div>天气数据来自设备位置与第三方服务设置</div>
        } @else if (widget.type === 'air') {
        <div>空气质量数据来自设备位置与第三方天气服务设置</div>
        } @else {
        <div>该组件没有提供可设置的参数</div>
        }
      </div>
      } @if (!(widget.type=='deb'|| widget.type=='vid' || widget.type=='tim' || widget.type === 'wea' || widget.type === 'air')) {
      <div setting-item>
        <div item-name>组件键名</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.key}}"
            [(ngModel)]="widget.key"
          />
        </div>
      </div>
      } @if (widget.type=='btn') {
      <div setting-item>
        <div item-name>按键类型</div>
        <div item-item class="btnmode">
          <div
            [ngClass]="{'selected':widget.mode==0}"
            (click)="choseBtnMode(0)"
          >
            @if (widget.mode==0) {
            <i class="fal fa-check-square"></i>
            } @if (widget.mode!=0) {
            <i class="fal fa-square"></i>
            } 普通按键
          </div>
          <div
            [ngClass]="{'selected':widget.mode==1}"
            (click)="choseBtnMode(1)"
          >
            @if (widget.mode==1) {
            <i class="fal fa-check-square"></i>
            } @if (widget.mode!=1) {
            <i class="fal fa-square"></i>
            } 开关按键
          </div>
          <div
            [ngClass]="{'selected':widget.mode==2}"
            (click)="choseBtnMode(2)"
          >
            @if (widget.mode==2) {
            <i class="fal fa-check-square"></i>
            } @if (widget.mode!=2) {
            <i class="fal fa-square"></i>
            } 自定义
          </div>
        </div>
      </div>
      } @if (widget.type=='btn'&&widget.mode==2) {
      <div setting-item>
        <div item-name>承载内容</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.cus}}"
            [(ngModel)]="widget.cus"
          />
        </div>
      </div>
      } @if
      (widget.type=='tex'||widget.type=='btn'||widget.type=='ran'||widget.type=='col'||
      widget.type=='num') {
      <div setting-item>
        <div item-name>显示文本1</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.t0}}"
            [(ngModel)]="widget.t0"
          />
        </div>
      </div>
      } @if (widget.type=='tex') {
      <div setting-item>
        <div item-name>文本1字号</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.size}}"
            [(ngModel)]="widget.size"
          />
        </div>
      </div>
      } @if (widget.type=='tex') {
      <div setting-item>
        <div item-name>显示文本2</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.t1}}"
            [(ngModel)]="widget.t1"
          />
        </div>
      </div>
      } @if (widget.type=='num') {
      <div setting-item>
        <div item-name>数据单位</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.uni}}"
            [(ngModel)]="widget.uni"
          />
        </div>
      </div>
      } @if (widget.type=='ran') {
      <div setting-item>
        <div item-name>最小值</div>
        <div input-box>
          <input
            type="number"
            placeholder="{{widget.min}}"
            [(ngModel)]="widget.min"
          />
        </div>
      </div>
      } @if (widget.type=='ran'||widget.type=='num') {
      <div setting-item>
        <div item-name>最大值</div>
        <div input-box>
          <input
            type="number"
            placeholder="{{widget.max}}"
            [(ngModel)]="widget.max"
          />
        </div>
      </div>
      }
      <!-- 实时数据配置项暂时停用。
      @if (widget.type=='ran'||widget.type=='num') {
      <div setting-item>
        <div item-name>实时数据</div>
        <div item-item class="btnmode">
          <div [ngClass]="{'selected':widget.rt}" (click)="turnRealtime()">
            @if (widget.rt) {
            <i class="fal fa-check-square"></i>
            } @if (!widget.rt) {
            <i class="fal fa-square"></i>
            } 启用
          </div>
          <div>更新频率</div>
            <div input-box style="width: 100px;">
              <input type="text" placeholder={{widget.key0}} [(ngModel)]="widget.key0">
            </div>
        </div>
      </div>
      }
      -->
      @if (widget.type=='tex' || widget.type=='btn' || widget.type=='num') {
      <div setting-item>
        <div item-name>显示图标</div>
        <div class="icon-box">
          <div class="btn" (click)="changeIcon()">修改图标</div>
        </div>
      </div>
      } @if (widget.type=='tex' || widget.type=='btn'||widget.type=='ran'||
      widget.type=='num') {
      <div setting-item>
        @if (widget.type=='tex') {
        <div item-name>文本1颜色</div>
        } @if (widget.type=='btn'|| widget.type=='num') {
        <div item-name>颜色</div>
        } @if (widget.type=='ran') {
        <div item-name>滑动条颜色</div>
        }
        <div class="color-btn-box">
          <b-colorpicker-btns [(selected)]="widget.clr"> </b-colorpicker-btns>
        </div>
      </div>
      }
      <!-- 图表配置项 begin -->
      @if (widget.type=='cha') {
      <div setting-item>
        <div item-name>存储键名0</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.key0}}"
            [(ngModel)]="widget.key0"
          />
        </div>
      </div>
      <div setting-item>
        <div item-name>显示文本0</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.t0}}"
            [(ngModel)]="widget.t0"
          />
        </div>
      </div>
      <div setting-item>
        <div item-name>数据颜色0</div>
        <div class="color-btn-box">
          <b-colorpicker-btns [(selected)]="widget.clr"> </b-colorpicker-btns>
        </div>
      </div>
      <div setting-item>
        <div item-name>存储键名1</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.key1}}"
            [(ngModel)]="widget.key1"
          />
        </div>
      </div>
      <div setting-item>
        <div item-name>显示文本1</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.t1}}"
            [(ngModel)]="widget.t1"
          />
        </div>
      </div>
      <div setting-item>
        <div item-name>数据颜色1</div>
        <div class="color-btn-box">
          <b-colorpicker-btns [(selected)]="widget.clr1"> </b-colorpicker-btns>
        </div>
      </div>
      <div setting-item>
        <div item-name>存储键名2</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.key2}}"
            [(ngModel)]="widget.key2"
          />
        </div>
      </div>
      <div setting-item>
        <div item-name>显示文本2</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.t2}}"
            [(ngModel)]="widget.t2"
          />
        </div>
      </div>
      <div setting-item>
        <div item-name>数据颜色2</div>
        <div class="color-btn-box">
          <b-colorpicker-btns [(selected)]="widget.clr2"> </b-colorpicker-btns>
        </div>
      </div>
      }
      <!-- 调试配置项 end -->
      @if (widget.type=='deb') {
      <div setting-item>
        <div item-name>显示内容</div>
        <div item-item class="btnmode">
          <div
            [ngClass]="{'selected':widget.mode==0}"
            (click)="choseBtnMode(0)"
          >
            @if (widget.mode==0) {
            <i class="fal fa-check-square"></i>
            } @if (widget.mode!=0) {
            <i class="fal fa-square"></i>
            } 显示收发数据
          </div>
          <div
            [ngClass]="{'selected':widget.mode==1}"
            (click)="choseBtnMode(1)"
          >
            @if (widget.mode==1) {
            <i class="fal fa-check-square"></i>
            } @if (widget.mode!=1) {
            <i class="fal fa-square"></i>
            } 显示接收数据
          </div>
        </div>
      </div>
      }
      <!-- 视频配置项 -->
      @if (widget.type=='vid') {
      <div setting-item>
        <div item-name>URL</div>
        <div input-box>
          <input
            type="text"
            placeholder="{{widget.url}}"
            [(ngModel)]="widget.url"
          />
        </div>
      </div>
      <div setting-item>
        <div item-name>视频流</div>
        <div item-item class="btnmode player">
          <div
            [ngClass]="{'selected':widget.str=='mjpg'}"
            (click)="choseStream('mjpg')"
          >
            @if (widget.str=='mjpg') {
            <i class="fal fa-check-square"></i>
            } @if (widget.str!='mjpg') {
            <i class="fal fa-square"></i>
            } mjpg
          </div>
          <div
            class="item2"
            [ngClass]="{'selected':widget.str=='hls'}"
            (click)="choseStream('hls')"
          >
            @if (widget.str=='hls') {
            <i class="fal fa-check-square"></i>
            } @if (widget.str!='hls') {
            <i class="fal fa-square"></i>
            } hls
          </div>
        </div>
      </div>
      @if (widget.str=='hls') {
      <div setting-item>
        <div item-name>自动播放</div>
        <div item-item class="btnmode player">
          <div
            [ngClass]="{'selected':widget.mode==0}"
            (click)="chosePlayMode(0)"
          >
            @if (widget.mode==0) {
            <i class="fal fa-check-square"></i>
            } @if (widget.mode!=0) {
            <i class="fal fa-square"></i>
            } 自动播放
          </div>
          <div
            class="item2"
            [ngClass]="{'selected':widget.mode==1}"
            (click)="chosePlayMode(1)"
          >
            @if (widget.mode==1) {
            <i class="fal fa-check-square"></i>
            } @if (widget.mode!=1) {
            <i class="fal fa-square"></i>
            } 手动播放
          </div>
        </div>
      </div>
      } }
      <!-- 图片配置项 -->
      @if (widget.type=='img') { @for (item of widget.list; track item; let i =
      $index) {
      <div setting-item>
        <div item-name>图片{{i}}</div>
        <div input-box>
          <input type="text" [(ngModel)]="item.url" />
        </div>
      </div>
      } }
    </div>
  </div>
</ion-content>
<div class="editor-bottom-actions">
  <button type="button" class="save-action" (click)="save()">
    <span>保存</span>
  </button>
  <button
    type="button"
    class="delete-action"
    aria-label="删除组件"
    title="删除组件"
    (click)="delete()"
  >
    <i class="fa-light fa-trash-can"></i>
  </button>
</div>
